[2017-08-20 14:30] drakmail opened #1 "How to get value of input?"
Hello, I'm faced with issue while trying to get value of text input. `onChange` and `onChangeText` triggered only after losing focus which doesn't acceptable for me.

How I can get value of input?

[2017-08-20 14:41] ivanzotov commented on #1
@drakmail Thanks for the issue, will check it and fix

[2017-08-20 14:47] drakmail commented on #1
@ivanzotov Thank you! Minimal example to reproduce bug (checked on iOS 10.3):

[code]

[2017-08-22 02:00] brunoosilva opened #2 "Error for build - RCTUITextField.h file not found"
Hello,

Error for build:

**RCTUITextField.h file not found**

Version:
react-native - 0.44.2

[2017-08-22 02:40] hiaw commented on #2
I also had this problem. After a bit of investigation it seems you would need to be on react native 0.47 to use this because `RCTUITextField.h` was added then.

https://github.com/facebook/react-native/releases/tag/v0.47.0

[2017-08-22 05:47] ivanzotov commented on #2
Yes, it works for 0.47+, I will add this info to README.

[2017-08-22 05:48] #2 closed

[2017-08-22 11:20] ivanzotov commented on #1
@drakmail found and fixed it for iOS – https://github.com/ivanzotov/react-native-text-input-mask/commit/b71ac6adb5290c0eb08a1f2aea1d4ac400ad812d

I released 0.3.1 version

[2017-08-22 11:20] ivanzotov commented on #1
@drakmail it worked on Android btw

[2017-08-22 11:21] #1 closed

[2017-09-07 16:38] ArmandoAssuncao opened #3 "onBlur not works in ios"
Hi,

I'm trying use the `onBlur` in ios, but the function is not called.

my code:
[code]
In Android works everything :-)

Tested in:
TextInputMask: 0.4.0
React-Native: 0.48.1
xcode: 8.2.1
simulator iphone 6 (not tested in real device)

[2017-09-07 18:24] ivanzotov commented on #3
@ArmandoAssuncao thanks for the issue, I will check it

[2017-09-07 22:53] jorbs commented on #1
Does it work using onChange={(value) => this.setState(value)}? I got an error here...

[2017-09-12 08:30] edcs commented on #3
I'm having the same issue, though I can't quite figure out what's stopping it from being called :(

[2017-09-12 11:21] ivanzotov commented on #3
@ArmandoAssuncao @edcs fixed – https://github.com/react-native-community/react-native-text-input-mask/commit/f07699310120a82dca344974861dba39d9e77cbe

Please update to 0.4.1

[2017-09-12 11:21] #3 closed

[2017-09-12 11:37] jorbs opened #4 ""ref" attribute throws an exception"
I'm trying to use the following code:

`<TextInputMask
    mask={"[00]/[00]/[0000]"}
    placeholder="DD/MM/YYYY"
    keyboardType="numeric"
    defaultValue={this.state.startDate}
    returnKeyType="next"
    onSubmitEditing={event => this.refs.endDateInput.focus()}
    onChangeText={startDate => this.setState({startDate})}
    style={[Styles.inputTextMd, Styles.searchInputText]} />`

`<TextInput

[2017-09-12 19:41] ArmandoAssuncao opened #5 "Get value input without mask"
Hi,

I'm trying get value of the input without mask, but not works.

code:
[code]
the console print "123-456" instead "123456".

how could i make this?

Tested in:
TextInputMask: 0.4.0
React-Native: 0.48.3
simulator Android 6

thanks :-)

[2017-09-12 19:43] ivanzotov commented on #5
@ArmandoAssuncao Hi. I'm working on it, will add this feature asap

[2017-09-12 19:44] ivanzotov commented on #4
@jorbs thanks for the issue, I will reproduce it and fix

[2017-09-13 18:53] ivanzotov commented on #4
@jorbs fixed – https://github.com/react-native-community/react-native-text-input-mask/commit/033423ee6c20ea74dc37dd70c4e8121315c08d2b#diff-168726dbe96b3ce427e7fedce31bb0bcR36

Update to 0.4.2 and use it like this:

[code]

[2017-09-13 18:53] #4 closed

[2017-09-13 18:54] jorbs commented on #4
Thanks!

[2017-09-13 19:40] ivanzotov commented on #5
@ArmandoAssuncao fixed – https://github.com/react-native-community/react-native-text-input-mask/commit/a3eef8c9c0f2cf469e8d9407166c32ec99dbd021

Update to 0.5.0 and just use the second argument for `onChangeText` callback, like this:

[code]

[2017-09-13 19:40] #5 closed

[2017-09-14 21:09] tapdancemobile opened #8 "Add ',' separator for currency"
Hey! Love the library - I was wondering how hard it would be to add a comma separator for the currency input. I understand that this would be more of a dynamic thing, but I'm curious where you would start on adding something like this?

[2017-09-15 04:54] ivanzotov commented on #8
@tapdancemobile Hey. I think about formatted input as well and will try to implement it with "Affine masks" (https://github.com/RedMadRobot/input-mask-ios#affine-masks"), but I'm not sure yet it would solve the issue.

Here is a good library for React (https://github.com/s-yadav/react-number-format) that I'd like to implement for RN. Any ideas/pr are welcome :)

[2017-09-15 16:37] tapdancemobile commented on #8
@ivanzotov - Thanks! I am currently having trouble working with the masks as they are static and inline currency formatting requires dynamic insertion of the commas. I have a RN solution for inline formatting - my issue is that the input blink and it is not smooth as all the updates are async in RN. That is why I am looking for a native solution...

[2017-09-26 03:07] pedrogyn opened #10 "Erro Package com.RNTextInputMaskPackage"
Olá, encontrei o seguinte erro:
error: package com.RNTextInputMask does not exist import com.RNTextInputMask.RNTextInputMaskPackage;

![scene 1](https://user-images.githubusercontent.com/20590307/30840583-891de0f8-a24e-11e7-9a1d-a9da20e10abf.PNG)

Para resolver, adicionei a seguinte linha de codigo ao gradle.app e depois recompilei o projeto.

compile project(':react-native-text-input-mask')

![sc

[2017-09-26 04:59] ivanzotov commented on #10
@pedrogyn it looks like you didn't execute link command `react-native link react-native-text-input-mask`, this command automatically adds this line into build.gradle

[2017-09-28 10:00] #10 closed

[2017-10-04 13:27] Jpoliachik opened #11 "Android flickering when passing in value prop"
Passing in a value on Android causes a noticeable flicker.
Reproduce by using state to update value onChange and pass into TextInputMask on each render.

Video of the issue: https://youtu.be/b0aTUZtd-t4

[2017-10-04 14:48] Jpoliachik commented on #11
For additional clarity - it's easier to reproduce when the TextInputMask is on a complex view. Try adding 10 TextInputMask in one view, and it'll flicker heavily.

[2017-10-04 20:05] ivanzotov commented on #11
@Jpoliachik thanks for the issue, will try to reproduce and fix

[2017-10-04 20:18] Jpoliachik commented on #11
@ivanzotov thanks for the response. I've been experimenting more, and I've noticed a possible related issue when passing in unformatted `value` prop:

[code]
It flickers as formatted for a frame, then reverts to the unformatted numbers. Take a look.

[2017-10-06 11:00] churcho opened #13 "The SDK Build Tools revision (23.0.1) is too low for project ':react-native-text-input-mask'. Minimum required is 25.0.0"
Hitting that when building my app

[2017-10-06 11:26] ivanzotov commented on #13
@churcho the latest RN version (0.49.1) uses `buildToolsVersion "23.0.1"`, did you change buildToolsVersion manually?

[2017-10-06 12:29] ivanzotov commented on #13
@churcho I thought that your build version is 25.0.0 and closed issue, sorry, now I realized what the error about, will try to fix, thanks

[2017-10-06 13:33] AlimovSV opened #14 "(iOS) `TextInputMask` doesn't update the masked value after component did mount"
Any `TextInputMask.value` property changes does not have any affects to masked value. Android works fine.

[2017-10-06 13:36] AlimovSV commented on #14
Also doesn't work selectTextOnFocus={true}.

[2017-10-06 13:40] AlimovSV opened #15 "(Android) `onBlur` be called with event = null"

[2017-10-06 14:21] ivanzotov commented on #14
@AlimovSV Thanks for the issue, will try to fix

[2017-10-12 18:22] costagolub opened #17 "Cannot read property 'mask' of undefined when using jest"
Having a problem with running jest tests. It failed with the TypeError
`Cannot read property 'mask' of undefined`
Are there any suggestions or workarounds how this could be solved?

[2017-10-12 20:55] sibelius commented on #13
try this on your build.gradle

[code]

this will make all your dependencies do use your version of buildTools

[2017-10-14 14:13] ivanzotov commented on #11
Fixed in 0.5.2 by @BasitAli (#18)

[2017-10-14 14:13] #11 closed

[2017-10-14 14:16] ivanzotov commented on #13
@sibelius thanks

@churcho I close the issue, let me know if the problem still exists

[2017-10-14 14:16] #13 closed

[2017-10-16 10:42] AlimovSV opened #19 "(iOS) SIGABRT on device (emulator works fine)"
[code]
dyld: Library not loaded: @rpath/InputMask.framework/InputMask
  Referenced from: /var/containers/Bundle/Application/7852D8F9-46F3-4952-B0BF-5CD16AA12084/Test.app/Test
  Reason: image not found
(lldb)

Create a clean app:
[code]
... add TextInputMask in App.js and run.

[2017-10-16 11:23] ivanzotov commented on #19
@AlimovSV please look at installation part here https://blog.cloudboost.io/text-input-mask-for-react-native-3c04e82843a6, you need to add InputMask.framework into Embedded Binaries

[2017-10-16 11:23] #19 closed

[2017-10-16 11:32] AlimovSV commented on #19
@ivanzotov Thank you very much!

[2017-10-16 12:03] maksugr commented on #19
I think it is good idea to tip about it in setup section)

[2017-10-16 12:30] ivanzotov commented on #19
@maksugr ok will do )

[2017-10-16 16:02] maksugr opened #20 "Don't pass mask"
Can I use `TextInputMask` but with `undefined` or some other value of property mask (any character)? It's comfortable to use this component with mask and without.

[2017-10-23 11:23] maksugr commented on #20
Anybody here? Can I somehow use mask for any symbol?)

[2017-10-23 11:46] ivanzotov commented on #20
@maksugr yes, it checks if mask prop available – https://github.com/react-native-community/react-native-text-input-mask/blob/master/index.js#L23, so you can use `TextInputMask` like a `TextInput` without mask features. Let me know if it doesn't work :)

[2017-10-23 19:39] kirakik commented on #20
@ivanzotov I get a crash in Android if I do not pass a mask
![screenshot_20171023-153753](https://user-images.githubusercontent.com/17203119/31909508-5b56d614-b808-11e7-8cf9-4dd5ceea225c.png)

[2017-10-23 20:15] ivanzotov commented on #20
@kirakik thanks, reopened issue, will fix

[2017-10-24 06:38] maksugr commented on #20
@ivanzotov yes, I had the same issue. sorry for non informative first message.

[2017-10-24 14:12] kirakik commented on #20
@maksugr a work around for now would be to create a component that renders a text input, and pass it a `mask` prop when you need it. Then in the rendering of that component, you can do:

[code]

[2017-10-25 06:51] maksugr commented on #20
@kirakik yes, this way is good and work, but not for me. I also wrap components in styled-components and my logic is more complicated then this, and it doesn't work without additional hacks. So I want TextInputMask that works without mask prop by default.

[2017-11-01 09:48] yuoppp opened #21 "Works bad when value property is set"
[code]

Here is my code.
When i start typing, the input value changes, then changes back to previous for a moment and then becomes right.

For example:

-- value was: 123 45
-- I type '6'
-- value becomes 123 456
-- value becomes 123 45
-- value becomes 123 456

Probably state doesn't change fast enough.
This ui changes are very noticeable for user.

Is there any workaround for it?

[2017-11-01 09:57] yuoppp commented on #21
Sorry.
Dupe of #11

[2017-11-01 10:06] yuoppp commented on #21
using v0.5.2

But still, when i try to delete the separator char it appears again.

mask is: `"[000] [000] [00] [00]"`
value is:  911_111_1|

where '|' is caret and _ is a space char

pressed backspace: 911 111_
pressed backspace again: 911 111_
pressed one more time: 911 111

It would be great to trim separator chars before returning the formated value

[2017-11-02 20:04] ararog opened #22 "Error while uploading to iTunesConnect for beta testing"
Here's the message while uploading to itunesconnect:

ERROR ITMS-90206: "Invalid Bundle. The bundle at 'myapp.app/Frameworks/InputMask.framework' contains disallowed file 'Frameworks'."

[2017-11-04 11:51] ararog commented on #22
I found the problem, I set "Always Embed Swift Standard Libraries" to false on both RNTextInputMask and its InputMask dependency, now I can publish to Apple Store without a problem.

[2017-11-15 23:34] lnikkila commented on #22
We’re also seeing this, the above works. “Always Embed Swift Standard Libraries” should be set on the app you’re publishing, not the library project. Additionally it should not be set on any app extensions you might have. More info about that error here, although CocoaPods specific: https://github.com/CocoaPods/CocoaPods/issues/4203

[2017-11-22 13:36] lsunsi opened #23 "Running app after installing this package makes app crash instantly after booting"
No error messages, no nothing. Just crashes and brings me back to home screen. I'm no React Native 0.50.

[2017-11-23 07:15] feronetick commented on #23
Try to build project using Xcode, avoid run "react-native run-ios"

[2017-11-23 19:39] Noitidart opened #24 "Higher order component?"
Hi there,

Is it possible to use this as a higher order component?

I am using this `<TextField>` component - https://github.com/n4kz/react-native-material-textfield

And need to mask them. Is it possible to field component, with your masker?

[2017-11-26 00:12] evasyuk opened #25 "RN no visible @interface for 'RCTTextField' declares the selector 'textField'"
MacBook-Air-jennyzhmenny:taxi jv$ react-native --version
react-native-cli: 2.0.1
react-native: 0.48.4

Console output:

Simple rollback to 0.47.2 did not make a trick(upraises problem with dependencies mismatch)

[2017-11-29 18:39] kirichok commented on #23
I have this issue too (RN 48.3). When I running app from Xcode everything is ok. On RN 50.0 the same result.

[2017-12-04 00:31] ArmandoAssuncao commented on #17
You have mock the package, like:
[code]

[2017-12-04 00:45] ArmandoAssuncao commented on #24
You can do in the same way that this repo does, but substituting by your component. Just use the functions exported `mask` and` setMask`.

`import { mask, setMask } from 'react-native-text-input-mask'`

[2017-12-04 01:22] Noitidart commented on #24
Oh wow no way thank you sir I will try it out. Thanks for leaving this open for me to close!

[2017-12-04 01:22] #24 closed

[2017-12-06 01:28] luskin opened #27 "Undefined is not an object"
According to the installation README, after installing and linking android "just works", however it is not working for me. Working great on iOS simulator and on iOS device, but when running on both android simulator and android device I get the following error:

[code]

See error here:
![img_0144](https://user-images.githubusercontent.com/5702322/33639687-626ee400-d9e1-11e7-920f-22e494360367.JPG)

[2017-12-06 10:46] ivanzotov commented on #27
@luskin it seems like you didn't rebuild the project for android, try to rebuild

[2017-12-06 17:08] luskin commented on #27
Quite the contrary @ivanzotov. I have cleaned, rebuilt, reinstalled, ran my cleaning command:

`rm -rf node_modules && yarn install && watchman watch-del-all && rm -rf $TMPDIR/react* && npm start --reset-cache`

Nothing seems to get rid of this error... Maybe it's something in React 0.50?

[2017-12-06 17:54] rscottcarson commented on #27
I am seeing the same on iOS simulator

[2017-12-07 10:44] ivanzotov commented on #27
@luskin I will try to reproduce and fix, thanks for the issue

[2017-12-07 15:14] Chleba commented on #19
I have same issue, but it work on device but simulator isn't working. My App just crash and log will tell me just 'abort trap 6'. Do anyone had same issue with it please ?

[2017-12-07 15:23] Chleba commented on #23
Same problem here. On device is everything running just fine, but on emulator it instantly crash with 'abort trap 6'.

[2017-12-07 17:21] Chleba commented on #22
Setting “Always Embed Swift Standard Libraries” isn't worked for me. I'm still unable to upload my App on Itunes Store.

[2017-12-08 02:28] thambt commented on #27
I have the same problem in React native 0.50.2

[2017-12-08 02:46] thambt commented on #27
@luskin @rscottcarson  I find solution in this post https://blog.cloudboost.io/text-input-mask-for-react-native-3c04e82843a6.

[2017-12-11 16:14] jchamb commented on #23
Had same crashing issue. Followed iOS installation steps from https://blog.cloudboost.io/text-input-mask-for-react-native-3c04e82843a6 resolved it.

[2017-12-15 01:05] deehuey commented on #25
Yup! 👍 Getting this as well.

[2017-12-15 01:07] deehuey commented on #23
Why wouldn't these instructions be on the README.md ? ^ Thanks

[2017-12-15 01:49] deehuey commented on #22
Thanks @lnikkila !

[2017-12-22 14:24] aliemre commented on #22
Hi @lnikkila

We have encountered same error. However, we could not manage to solve the issue with the way you suggest. Could you explain further? Thanks!

[2017-12-22 19:20] lnikkila commented on #22
@aliemre

See the screenshot below, make sure it’s the last build phase defined in your target. Also make sure “Always embed Swift standard libraries” is enabled in the target’s build settings, but not enabled on any libraries you have (except for InputMask which we’re working around with this script) or any app extension targets you may have.

<img width="854" alt="workaround" src="https://user-i

[2018-01-03 23:27] luizguilhermefr opened #30 "Null is not an object evaluating input.setNativeProps"
Got the following problem when the parent container umount. The error is occurring at `index.js` line 26.

[code]

RN `0.48.4`
RN-text-input-mask `0.5.2`
Android

My code:

[code]

![screenshot_1515021695](https://user-images.githubusercontent.com/6135939/34544212-30080ef4-f0cc-11e7-9382-c189cfad5c6b.png)

[2018-01-11 22:05] adirzoari commented on #27
@luskin how did you fix it?

[2018-01-12 13:55] adirzoari opened #31 "Cannot read property 'mask' of undefined"
I get this error

 when I add this line

any solution?

[2018-01-15 06:27] kamaljit-sharma commented on #25
+1

[2018-01-16 09:14] idrakimuhamad commented on #31
I got that error when I try to run my app, right after `npm install` the package. Maybe to stop your current build, do the necessary drag and drop and the rebuild your app

[2018-01-25 19:59] lfkwtz commented on #31
Reference this updated readme --> #28

[2018-01-26 07:52] llvc opened #33 "How to set a value to TextInputMask component?"
I am going to make the TextInputMask component not to be editable and show a formatted phone number, +86 1234 56 7890, by providing a pure number, 1234567890, on it.
And I want to clear the phone number sometimes.
I tried to set a value property or call `this.input.clear()`
But all of them were fallen in to fail.
Is there any way to implement?
Thanks.

[2018-02-01 21:36] bintoll commented on #25
+1, works good on android, but can not build on ios(

[2018-02-06 19:18] GituBojan commented on #31
follwed your readme
still experience this error

import TextInputMask from 'react-native-text-input-mask';

[2018-02-08 17:08] leoneparise opened #34 "Doesn't compile with RN 0.53."
My project is not compiling when I upgrade to RN 0.53.0, here is the error:

[code]

Anyone having this?

[2018-02-09 02:54] duyanh2912 commented on #34
Same problem here. I think RCTTextField does not exist in RN 0.53

[2018-02-09 03:22] hbk671104 commented on #34
Any fix upcoming??

[2018-02-12 11:55] AndrewIngram commented on #34
It looks like the module was renamed to `RCTUITextField`: https://github.com/facebook/react-native/commit/19a9c5e41da0aa6ee28a54772edcb92daa498561

[2018-02-12 12:35] leoneparise commented on #25
For me it's working on RN 0.52.2

[2018-02-13 18:12] pipinov commented on #31
For android:

add to android/app/src/main/java/com/project_name/MainApplication.java

[code]

and add new RNTextInputMaskPackage() to getPackages

[code]

and make sure that you are linking package with command

[code]

[2018-02-13 21:20] andrewcroce commented on #11
Something similar seems to be occurring, even with only setting a `defaultValue` and leaving the value uncontrolled.

Backspacing behavior jumps back several characters at a time.

Using:
react 16.0.0
react-native 0.52.0
react-native-text-input-mask 0.5.2

[code]
![android-mask](https://user-images.githubusercontent.com/474639/36174161-65c2cf48-10d9-11e8-99ae-9c2f13224194.gif)

[2018-02-13 21:29] andrewcroce opened #35 "Android input flicker and backspacing issue"
Something similar to #11 seems to be still occurring, even with only setting a `defaultValue` and leaving the value uncontrolled.

Backspacing behavior jumps back several characters at a time.

Using:
react 16.0.0
react-native 0.52.0
react-native-text-input-mask 0.5.2
emulator android 6.0 API 23

[code]
![android-mask](https://user-images.githubusercontent.com/474639/36174161-65c2cf48-10d9-11e8-99

[2018-02-15 18:14] Knjaz89 commented on #30
0.5.2
problem with me

[2018-02-15 18:23] luizguilhermefr commented on #30
@Knjaz89 check https://github.com/react-native-community/react-native-text-input-mask/pull/32

[2018-02-17 15:15] mozaik1 commented on #35
@andrewcroce Hi. You're using it wrong.
Change ```defaultValue``` to ```value```

[2018-02-19 20:15] smisaacs commented on #34
+1

[2018-02-19 21:00] phiyan commented on #34
+1

[2018-02-19 23:41] andrewcroce commented on #35
Thanks @mozaik1 that worked.

[2018-02-20 17:31] filipecavalc commented on #10
react-native link react-native-text-input-mask is not doing the job. I add manualy on android/app/build.gradle the line of code compile project(':react-native-text-input-mask') inside dependencies { }

[2018-02-22 16:48] leoneparise commented on #34
I fixed the compilation issue myself and opened a PR.

For those who wants to compile against **RN 0.53.**, replace the dependency line to

`"react-native-text-input-mask": "github:leoneparise/react-native-text-input-mask#fix-build-issue-rn-53",`

and run `yarn install`.
When they merge my PR and update the library, you can switch the version back.

[2018-02-27 15:51] valerybugakov commented on #21
@yuoppp did you figure out how to fix that?

[2018-02-28 09:21] MIREX commented on #34
It doesn't compile yet if you are using Cocoapods, I thing, something wrong with Header Search Path

[2018-02-28 11:27] ivanzotov commented on #35
@mozaik1 thanks for the help

[2018-02-28 11:27] #35 closed

[2018-02-28 12:06] ivanzotov commented on #34
@leoneparise thanks for the PR

I tested on RN 0.53.0, please use `0.6.2` version

[2018-02-28 12:06] #34 closed

[2018-02-28 12:10] ivanzotov commented on #27
I'm closing the issue, @luskin let me know if it still doesn't work with the new versions

[2018-02-28 12:10] #27 closed

[2018-02-28 12:11] ivanzotov commented on #20
@maksugr fixed in `0.6.2`

[2018-02-28 12:11] #20 closed

[2018-02-28 12:12] #8 closed

[2018-02-28 12:13] ivanzotov commented on #23
@deehuey fixed )

[2018-02-28 12:13] #23 closed

[2018-02-28 22:54] luskin commented on #27
I ended up building my own solution since I couldn't get it to run, thanks for looking into it though. I may try and work it back in later.

[2018-03-01 09:23] WeiLiangTan commented on #31
I also facing the same issue.

Added InputMask framework to Embedded Binaries on xcode.

Tried `react-native link`, but doesn't work.

Any updates on this issue would be a great help. Thanks

[2018-03-02 13:44] tempname11 commented on #21
@yuoppp @valerybugakov using the input as uncontrolled (no re-renders on onChangeText) fixes this for me. This is a bit unfortunate, since you have to worry about the values getting out of sync, but at least the user experience is OK.

[2018-03-03 07:52] MIREX opened #37 "Library doesn't compile with RN 0.53.x and Cocoapods"
When i use Cocoapods and try to build project with XCode I always get the same error.

Steps to reproduce:
1) Create new project with `react-native init Test`
2) Add package with yarn: `yarn add react-native-text-input-mask`
3) Link library
4) Compile project - it's ok, compiles well!
5) Add Cocoapods into ios folder
6) Open .xcworkspace
7) Try compile again.

![2018-03-01 10 46 10](https://user-i

[2018-03-03 10:12] ivanzotov commented on #37
@MIREX thanks for reporting the issue, yes I'm working on it, as a temporary solution:

1. Choose cxxreact in `Product -> Scheme -> cxxreact`
2. Run build
3. Then switch scheme back and run build again

[2018-03-03 10:12] IllyaVolkov commented on #37
Make sure you don't have InputMask.framework in Build Phases>Link Binary With Libraries

[2018-03-03 10:20] IllyaVolkov commented on #37
@MIREX Probably I had incorrectly linked library manually.

[2018-03-03 15:07] IllyaVolkov commented on #37
I found solution:
1. fix imports:
![screen shot 2018-03-03 at 17 04 21](https://user-images.githubusercontent.com/26715940/36935800-f04648dc-1f04-11e8-9cc8-b391ebfb87bd.png)
2. In RNTextInputMask.xcodeproj > Build Settings > Header Search Path
set path search mode to recursive
![screen shot 2018-03-03 at 17 06 43](https://user-images.githubusercontent.com/26715940/36935826-47f8082c-1f05-11e8-809b-

[2018-03-03 15:09] MIREX commented on #37
@IllyaVolkov Thanks for this solution. But what about project without Cocoapods. Is it still compile?

[2018-03-03 15:11] IllyaVolkov commented on #37
It runs both via react-native cli and via Xcode in production mode

[2018-03-08 12:45] piotrfalba opened #39 "Not working on RN 0.54"
Library is not working on RN 0.54

[2018-03-09 10:30] Amurmurmur commented on #39
+1

[2018-03-09 14:02] leoneparise commented on #39
I have a PR opened to fix this issue. Until then you can use my branch in you `package.json`:
[code]

[2018-03-11 10:24] Amurmurmur commented on #39
@leoneparise God bless you 👍

[2018-03-13 18:16] Amurmurmur commented on #39
@ivanzotov Could you please merge this one 👍 https://github.com/react-native-community/react-native-text-input-mask/pull/38

[2018-03-13 23:22] JonathanRufino opened #40 "Mixed mask with numbers and letters not working"
Hello everyone.

I'm trying to create a TextInputMask with the following mask

### [AAA]-[0000]
(this is the pattern for vehicles license plate here in brazil)

But when i type the input field behaves like this:

<img src="https://user-images.githubusercontent.com/5273493/37374757-659a121e-26fb-11e8-9b1b-e30429bbc9f4.gif" width="300" />

Here is my code:

[code]

[2018-03-22 16:29] xuepx opened #41 "How can input minus symbol "-""
I need degree mask and longitude mask, like +/-00°00′00.000000″ and 120°00′00.000000N/W.
now I can not input "-".

hope to your reply!

[2018-03-22 18:53] JonathanRufino commented on #33
Have you tried using a state variable and then updating it to an empty string?

[2018-03-23 08:41] potasium commented on #27
the same problem. rn 0.54

[2018-04-02 12:37] tempname11 commented on #40
Same here. Did you by any chance find a workaround yet?

[2018-04-03 00:08] JonathanRufino commented on #40
@tempname11

not tried to fix this yet, i will try your workaround

[2018-04-19 04:53] anvaskes commented on #31
Faced same issue, removed node modules, unlinked mask lib, reinstalled node modules, linked lib ( and relinked other ) , dragged lib to embedded lib's, set 'always embed' to yes. And it start to work

[2018-04-19 17:06] tete7 commented on #39
is it merged? still not working for me

[2018-04-20 15:10] bhd-vasyl opened #42 "Change mask on the fly"
I need to change mask depending on country code
So if i have +44 the mask will be [99] [99] [9999] [9999]
And if i had +47 - [99] [99] [999] [999]
But when i trying to do that it doesn't work
[code]

[2018-04-23 19:15] josematheus10 opened #43 "Mask is not working"
I just included in my project this dependence plus it does not work, I'm testing on android.

`"dependencies": {
    "apisauce": "^0.14.3",
    "native-base": "^2.4.2",
    "react": "16.3.1",
    "react-native": "0.55.3",
    "react-native-masked-text": "^1.6.5",
    "react-native-vector-icons": "^4.6.0"
  },`

import { TextInputMask } from 'react-native-masked-text';

<TextInputMask type={'credit

[2018-04-23 20:16] josematheus10 opened #44 "Mask is not working"
In my project the mask does not work;

`   "dependencies": {
    "apisauce": "^0.14.3",
    "native-base": "^2.4.2",
    "react": "16.3.1",
    "react-native": "0.55.3",
    "react-native-text-input-mask": "^0.7.0",
    "react-native-vector-icons": "^4.6.0"
  }`

Do I need to do something to make it work? I'm testing on android

`  import TextInputMask from 'react-native-text-input-mask';`
`  <Tex

[2018-04-24 08:58] ppozniak opened #45 "RCTSinglelineTextInputView.h file not found (RNTextInputMask.m)"
Hello there.
I've done the steps in the docs, but no luck, my project on iOS won't build

[code]
in file RNTextInputMask.m (line 13)

Versions:
    "react-native-text-input-mask": "^0.7.0",
    "react-native": "0.52.x",
    "react": "16.2.0",
Also using react-native-navigation if this matters

[2018-04-26 18:31] lucky-xiaohu opened #46 "Android maxLength count the mask spaces"
on android, maxLength prop count the mask space, for example, when set mask `[000000] [00000000] [0000]`, and set maxLength `18`, it work fine on iOS, I can input all of 18 valid characters, but on android, it is can only input 16 valid character, i must set maxLength to 20.

[2018-04-30 13:16] evgenitsn opened #47 "iOS reassigning the value doesn't work."
So I have the following issue.
I initialize the component with some predefined value

[code]
In the parent component I have this piece of state:
[code]
I have a Cancel button in my app which when I press I pass down the originalState to this component and it should update the this.props.value with 'originalValue'. The prop is passed down, I logged it in the render method to check and the new 'orig

[2018-05-01 01:44] grsabreu commented on #45
I'm having this also

[2018-05-02 14:35] chitra591 commented on #25
Hi @evasyuk !
Even I get this error while building, but only on iOS

Were you guys able to find a solution?

My react-native version is 0.49.3 and react-native-text-input-mask version is 0.3.2

Thanks!

[2018-05-02 15:13] bintoll commented on #25
Not really, after updating react native and updating this lib everything works good. I do not think that it is like real solution for this but if you finally would not be able to resolve it anyway you can always make an update)

[2018-05-03 06:27] chitra591 commented on #25
Thank you so much @bintoll

[2018-05-07 15:50] upils opened #48 "Moving caret and disapearing characters"
On Android (I cannot test on iOS), when writting in the input, the caret is moving back to the input beginning (once the second character is written).
If I keep typing, characters at the end of the string are "pushed" by incoming ones, disapearing.
If I move my caret at the end of the string, I can type one character, then the caret is back to the beginning.

I'm testing with the example.

RN: 0.5

[2018-05-08 04:53] maphongba008 commented on #45
Roll back to version 0.5.2 worked for me

[2018-05-09 08:43] upils commented on #40
I have the same issue (described in https://github.com/react-native-community/react-native-text-input-mask/issues/48). This is not due to character types.
@tempname11 could you provide a snippet of your workaround ?

[2018-05-09 10:48] tempname11 commented on #40
Sure, try something like this:
[code]

[2018-05-11 07:47] upils commented on #40
Thank you. But I have the same behaviour with this snippet.

[2018-05-14 14:27] lfkwtz commented on #31
@Komalov https://github.com/react-native-community/react-native-text-input-mask/issues/17#issuecomment-348833469

[2018-05-14 17:16] maximusnikulin opened #49 "Could I use it with CRNA??"
Hi there. Could I use this library without ejecting my app. If I eject that I lost advantages of development with Expo.
I use react-native not so long, so I can be wrong.
I'll be grateful for any help.
Thanks.

[2018-05-15 07:02] maximusnikulin commented on #49
I refused to use Expo because it has really much limitations such as WebRTC, so I ejected my app and install your plugin, it's very helpful.
Thanks. Close it.

[2018-05-15 07:02] #49 closed

[2018-05-18 20:57] patrick-barcelos opened #50 "Hello dear I get this error - undefined is not an object (evaluating '_reactNative.NativeMOdules.RNTextInputMask.mask')"
![screenshot_1526676724](https://user-images.githubusercontent.com/39134788/40257514-c93d10e4-5ac4-11e8-8af1-1351beb0a065.png)

[2018-05-18 21:19] #50 closed

[2018-05-19 01:10] gabrielbuzziv opened #51 "Reverse Mask for Money Format"
Is possible to add a reverse option, so i can use this mask package for money format?

[2018-05-23 15:21] warlock27 commented on #27
@luskin Hi I solved that issue by adding adding the following to my .addPackages

import com.RNTextInputMask.RNTextInputMaskPackage;
...
...
 mReactInstanceManager = ReactInstanceManager.builder()
                .addPackages(getPackages())
}
   private List<ReactPackage> getPackages() {
        return Arrays.<ReactPackage>asList(
             ...
                new RNTextInputMaskPackage(),

[2018-05-24 10:59] romreed opened #52 "java.lang.NullPointerException at at com.RNTextInputMask.RNTextInputMaskModule.setMask (RNTextInputMaskModule.java:74)"
Hi i get this error on android google store.
I see this error on different versions android (from 5.1 to 7.1) and different phones.
"react-native": "0.55.0"
 "react-native-text-input-mask": "^0.7.0"

java.lang.NullPointerException:
  at com.RNTextInputMask.RNTextInputMaskModule.setMask (RNTextInputMaskModule.java:74)
  at java.lang.reflect.Method.invoke (Native Method)
  at java.lang.reflect.Metho

[2018-05-25 20:27] luskin commented on #27
@warlock27 I just switched back to this package to try your solution and sure enough that worked. @ivanzotov you probably want to put this in the readme under installation as it seems several people are having this issue, sometimes linking doesn't work and it's always good to reiterate the manual installation process for both iOS and Android. Thanks @warlock27 for solving this issue.

[2018-06-06 13:27] kishoremw commented on #47
it is not an issue with this component. This is a react-native bug

https://github.com/facebook/react-native/issues/18272

[2018-06-07 10:34] suuzee opened #54 "How to install it manually?"
I refer to the tutorial and I know that I should run the `react-native link` command after installation. However, due to the different structure of our project directory, running `react-native link` does not make it work. So I want to know how to manually install this library to make it work?

Thanks!

[2018-06-08 15:40] bawhari opened #55 "custom calculator in react native"
I want to be in react native
Add numbers 1 to 3
And in the total, I will show the sum of the numbers
Possibility to be empty of some fields .For example, just number 1 and number 3
How can i implement it
It's like a calculator that just collects

http://uupload.ir/files/fae3_10.jpg

[code]

[2018-06-08 18:49] bawhari opened #56 "edit source code and adding navigate in react native"
I want to make a small change to this source code and go to another page by choosing one day a week, but I'm having an error. What's wrong with that?

[code]

https://github.com/afshinm/JalaliCalendarPicker

[2018-06-09 12:29] #56 closed

[2018-06-09 15:59] #55 closed

[2018-06-10 11:54] yoavapi commented on #42
works for me, see my example:

	renderHomePhone() {
		let { homePhone } = this.state;
		let mask = "[00]-[0000000]"; //default
		let placeholder = "02-000000" //default
		if (!homePhone) homePhone = ""; //handle undefined
		if (homePhone.substring(0, 2) == "07") {
			mask = "[000]-[0000000]"; //alternative mask
			placeholder = "070-000000" //alternative placeholder
		}
		return (<TextInputMask

[2018-06-13 18:55] LucasMMota commented on #31
Perfectly working on android, but not working on IOS, I'm getting same error
Cannot read property 'mask' of undefined.
I've already add binary on xcode. I don't know what to do.

[2018-06-18 10:29] aertmann commented on #31
Had same issue on iOS and found a solution.

"Embedded Binaries in General tab of Target and check ‘Yes’ in ‘Always Embed Swift Standard Libraries’ of Build Settings." didn't work for me. But after doing this and building the project I got a new file called `libRNTextInputMask.a` that I could select in "Linked Frameworks and Libraries". Could even remove the framework again.

Maybe this helps some

[2018-06-21 12:58] lutchobandeira commented on #51
Hi, I am trying to reverse the mask in order to make a proper money format as well.

I took a look at the native projects (android and ios) and I could see that it is possible to use a reversed mask on the native side (```ReversedMaskTextFieldDelegate``` for ios and ```ReversedMaskTextChangedListener``` for android).

These classes are not documented though. So I am a little bit confused of how to

[2018-06-23 09:19] vinnichase opened #58 "undefined is not an object on Android"
Hi,

i don't get it running on Android. I'm using these package versions:
[code]
I'm working with typescript and used CRNA with `react-native-scripts-ts`.
and this input field:
[code]
and i get this error on my smartphone screen:
[code]
this is the result of my link command:
[code]
Thanks for helping!

[2018-06-23 11:08] vinnichase commented on #58
OK i found my mistake but i get still the same error. This closed issue https://github.com/react-native-community/react-native-text-input-mask/issues/27 seems to be the same. Since i was using CRNA it was not possible to link native modules. So I ejected from CRNA and successfully linked the package. And it is also added to MainApplication.java like @warlock27 writes it here https://github.com/rea

[2018-06-25 10:26] leisurehuang opened #59 "color not work in mask input"
when I set a style with color  RED to the input,  sometimes it's not work.

[2018-06-29 09:01] alpamys-qanybet commented on #42
@yoavapi, what is your version of release, I use 0.5.2 as later crashes.

[2018-07-03 06:30] yoavapi commented on #42
@alpamys-qanybet

I use 0.7.0

[2018-07-06 13:27] AtNovember opened #60 "doesn`t show mask when field focused"
mask shown only if i already enter first symbol.
but it neccesery to display mask when field focused

for example, i need enter phone number

`
              <TextInputMask
                placeholder="Your phone"
                onChangeText={(formatted, extracted) => this.handleMaskedField(formatted, extracted)}
                mask={"+7 ([000]) [000] [00] [00]"}
                keyboardType="nu

[2018-07-18 07:02] surinder-enest opened #62 "How to clear mask data when input is clear by the state?"
I'm using the input mask that is connected with **mobileNumber** from  component state.
some time i need to clear the **mobileNumber** so i'm using the blow code. number is cleared and sate is updated but the mask first view  **(**  stay in the input field i need to clear this when **mobileNumber** has empty string.  See Here:https://ibb.co/ehWMod
[code]
[code]

[2018-07-19 09:09] artyorsh commented on #62
Fixed with love and available for [review](https://github.com/react-native-community/react-native-text-input-mask/pull/61)

[2018-07-20 11:55] dharamEnest commented on #62
what i need to do for resolve this issue in my app ?

[2018-07-20 17:31] artyorsh commented on #62
@dharamEnest
I think nothing except waiting for pr approve🤞or copying changes from pr to your dependendies.

[2018-07-20 20:18] ivanzotov commented on #60
@AtNovember thank you for the issue. I understand that is not UX friendly, but I just integrated the third part library https://github.com/RedMadRobot/input-mask-ios into RN. Maybe I will rewrite native code to my own in the future, but for now please refer this issue to `input-mask-ios` library.

Thank you for understanding. Спасибо за понимание 😉

[2018-07-20 20:18] #60 closed

[2018-07-20 20:30] ivanzotov commented on #54
@suuzee linking the library is the same as documentation describe it https://facebook.github.io/react-native/docs/linking-libraries-ios, but you're right it should be available in the readme, will add documentation for manual installation soon, thanks!

[2018-07-20 20:34] ivanzotov commented on #58
@vinnichase sorry for the delay, did you solve the problem? I will add documentation about manual linking soon, hope it will help – https://github.com/react-native-community/react-native-text-input-mask/issues/54#issuecomment-406718514

[2018-07-20 20:37] #39 closed

[2018-07-20 20:37] vinnichase commented on #58
@ivanzotov no i postponed the input mask feature for my app, but i would still appreciate a robust solution for this.

[2018-07-20 20:40] ivanzotov commented on #45
@ppozniak I tried to build the library for 0.56 RN, seems it works good so I close the issue, if it still happens please let me know to reopen the issue

[2018-07-20 20:40] #45 closed

[2018-07-20 20:43] ivanzotov commented on #58
@vinnichase ok, so what steps should I do to reproduce the issue? As far as I understand: init new app with https://github.com/react-community/create-react-native-app and `react-native-scripts-ts` and try to build it on Android, right?

[2018-07-20 20:45] vinnichase commented on #58
exactly, then you should run `yarn eject` and install your package and link.

[2018-07-20 21:07] ivanzotov commented on #58
@vinnichase tried to reproduce steps with and without `react-native-scripts-ts`, it seems that it works good. What I did:

1. `create-react-native-app Masking`
2. `yarn eject`
3. `yarn add react-native-text-input-mask`
4. `react-native link react-native-text-input-mask`
5. Added some code (from readme) then build and run for Android

It's working. So I tried to use `react-native-scripts-ts` and di

[2018-07-20 21:09] ivanzotov commented on #58
Could you please try it with a new version of the library to reproduce the issue? And let me know if it still doesn't work to reopen the issue.

[2018-07-20 21:09] #58 closed

[2018-07-20 21:10] vinnichase commented on #58
@ivanzotov ok thanks for investigating! since i excluded the package from my project i have to check it tomorrow. Let it closed for now and I will reopen it in case the error persists.

[2018-07-23 05:18] dharamEnest commented on #62
ok Thanks @ivanzotov

[2018-07-24 12:57] MadGeorge commented on #22
The only question is why this is not in the Readme? I spent a hours to find the answer in google.

[2018-07-25 10:29] dharamEnest commented on #62
@ivanzotov @artyorsh  How i can use (fix mask/text update on rn v0.56)  code to test the functionality

[2018-07-27 10:37] russelarms opened #63 "Clear() doesn't work on iOS (RN 0.56)"
Hi! Clear() method doesn't seem to work. I've already seen this [https://github.com/facebook/react-native/issues/18272](issue), however pure TextInput clear() method works without any problem.
Here's the code:
`<TextInputMask
                            style={{
        flex: 1,
        fontSize: SCREEN.width > 320 ? scale(typography.fontSizes.l) : 16,
        color: colors.contrast,
        textD

[2018-08-03 09:14] vdlindenmark commented on #63
This is related to react-native and not react-native-text-input-mask.
https://github.com/facebook/react-native/issues/18272

[2018-08-03 09:34] russelarms commented on #63
@vdlindenmark Why textinput.clear() works then?

[2018-08-03 09:47] vdlindenmark commented on #63
You did say it's not working...?

BTW, there are also problems with setState: https://github.com/facebook/react-native/issues/18874
Maybe that's related!

[2018-08-08 09:19] Baskerville42 commented on #22
I have the same issue. I have fixed it by adding New Run Script Phase into Building Phase(s) with the script  provided by @lnikkila
Thank you very much!

[2018-08-08 22:43] lfkwtz opened #65 "Setting a testID prop will crash Android"
Setting a prop of `testID` will cause a hard crash on Android with `java.lang.String cannot be cast to android.text.TextWatcher`

RN 0.55
v0.7.0

[2018-08-10 20:46] andreyelek commented on #58
I have the same error in android though I made ejecting and linking
` react-native link react-native-text-input-mask
Scanning folders for symlinks in /home/elek/job/rn-public/node_modules (12ms)
rnpm-install info Linking react-native-text-input-mask android dependency
rnpm-install info Platform 'android' module react-native-text-input-mask has been successfully linked
`

[2018-08-10 20:49] andreyelek commented on #58
@ivanzotov I have the same error in android though I made ejecting and linking
react-native link react-native-text-input-mask Scanning folders for symlinks in /home/elek/job/rn-public/node_modules (12ms) rnpm-install info Linking react-native-text-input-mask android dependency rnpm-install info Platform 'android' module react-native-text-input-mask has been successfully linked

Also maybe this iss

[2018-08-17 07:19] FabioVerge commented on #65
I have the same error
RN 0.56
v0.8.0

[2018-08-22 12:58] mkds622 opened #68 "Any way to 'clear' input field?"
I have been trying to clear the text entered in the input field using various methods but none of them seem to be working.

Diving into the code I found that the code manipulates the value of text in native props every time the value changes. I also found out that a callback is passed to the native 'mask' function before manipulating the native text prop. But I couldn't further debug and find out

[2018-08-22 15:37] derenebdon commented on #68
https://github.com/derenebdon/react-native-text-input-mask#fixClear exposes a clear method that you can call via a ref.

[2018-08-22 15:41] derenebdon commented on #63
I saw the same issue, iOS failed to clear, Android worked, and only for the masked fields, unmasked TextInput worked.  I created a workaround here based on another PR: https://github.com/derenebdon/react-native-text-input-mask#fixClear.  I exposed a clear method that can be called on a ref of the mask component.

[2018-08-22 15:45] derenebdon commented on #62
I saw issues with the PR mentioned above and created my own "clear" fix: https://github.com/derenebdon/react-native-text-input-mask#fixClear exposes a clear method that you can call via a ref.  To use that branch, you simply use "react-native-text-input-mask": "git+https://github.com/derenebdon/react-native-text-input-mask.git#fixClear", in your package.json.

[2018-08-22 22:08] danibonilha commented on #65
I have the same problem, as a workaround, since testID doesn't work in Android, I'm 'filtering' the props, and passing testID only to iOS.
[code]

[2018-08-23 09:48] mkds622 commented on #68
Does this fix work for RN 0.49.0?

[2018-08-23 12:48] derenebdon commented on #68
No, RCTTextField was renamed to RCTSinglelineTextInputView, so that is why you can't import. I am currently on RN 0.55.

[2018-08-23 13:00] mkds622 commented on #68
So is it possible for you to provide a fix for RN 0.49? Please provide if possible.

I'm currently on RN 0.49 and my in my case updating RN above 0.50 could initiate problems in compatibility with other libraries.

[2018-08-27 19:21] andrewheekin opened #69 "Extracted amount with decimal in currency mask?"
Is it possible to use the library to mask currency and have the extracted value include the decimal value?

For example, with a mask of `mask="$[9999].[99]"`, I'm getting a formatted value of something like `$1234.56` but an extracted value of `123456`. How could I make sure that extracted value is `1234.56`?

[2018-08-27 20:12] andrewheekin opened #70 "Prevent dollar sign mask deletion"
Currently a user can delete the initial dollar sign in a currency mask. Is there an option to prevent that?

[2018-08-28 06:25] madlabman opened #71 "[Android] Backspacing issue"
It doesn't erase sequence of fixed symbols. On GIF below I can erase dash between numbers with two taps of backspace and I cannot erase [space][bracket] sequence at all and get into brackets. On iOS similar code works fine.

![backspace-input-mask](https://user-images.githubusercontent.com/10616301/44704491-865ae200-aaac-11e8-988f-a3127a85a167.gif)

[2018-08-28 10:36] madlabman commented on #71
Fixed issue by setting `autocompletion` option to false on line `46` at `RNTextInputMaskModule.java`
See [response for similar issue on Android input mask project](https://github.com/RedMadRobot/input-mask-android/issues/60)

[2018-08-28 10:36] #71 closed

[2018-08-28 13:58] harleystrip opened #72 "App fails on a real device, works fine in a simulator"
When I try to test my app on a live device via xcode, the app fails with the following error:
![screen shot 2018-08-28 at 4 45 57 pm](https://user-images.githubusercontent.com/34581978/44727332-70681400-aae2-11e8-822f-8b8aa8a6e766.png)
However, that doesn't happen when I launch it in a simulator and masking works properly
The necessary library has been linked, 'Always embed standard libraries' is

[2018-08-29 06:37] harleystrip commented on #72
Restarting my Mac and reloading XCode somehow worked, problem solved

[2018-08-29 06:37] #72 closed

[2018-08-30 23:43] faustoct opened #73 "RNTextInputMask React/RCTBridge.h file not found"
After run:
[code]
got this error on xcode
`RNTextInputMask React/RCTBridge.h file not found`

How do I fix it?

[2018-08-31 00:48] faustoct commented on #73
@ivanzotov any idea?

[2018-08-31 19:53] faustoct commented on #73
couldn't find a solution so moved to https://github.com/benhurott/react-native-masked-text . when got a solution to this issue can go back to this plugin.. that seems quite better..

[2018-08-31 19:54] faustoct commented on #54
any idea how to solve this https://github.com/react-native-community/react-native-text-input-mask/issues/73

[2018-08-31 20:11] faustoct commented on #54
following this https://github.com/react-native-community/react-native-text-input-mask/issues/54#issuecomment-406718514 does not solve

[2018-08-31 23:04] faustoct commented on #58
I got this problem on ios, any idea how to solve it?

[2018-09-01 14:51] faustoct commented on #73
I've searched around by couldn't find any solution that makes the project work. Do you guys have any suggestion? thank you in advance.

[2018-09-01 15:32] faustoct commented on #73
Since I got the lib linked (I think so).. I got this error: `undefined is not an object (evaluating '_reactNative.NativeModules.RNTextInputMask.mask')`
do you have any idea?

[2018-09-03 05:58] GitHubGreg opened #74 "iOS solution if using Expo"
If using Expo, where the iOS and Android folders aren't exposed to you, is there a way to implement your iOS fix so this module works? Thanks.

[2018-09-06 02:28] faustoct commented on #73
anyone?!? I'm gonna look at this problem deeper.. finding anything will post here!

[2018-09-11 20:57] iH04EP commented on #73
Add 'headers serach path' to your Build Settings.
I'm using 'expo' and this paths works for me :

$(SRCROOT)/../../../../ios/Pods/Headers/Public
$(SRCROOT)/../../../../ios/Pods/Headers/Public/React

where $SRCROOT is {$my_project_dir}/node_modules/react-native-text-input-mask/ios/RNTextInputMask

don't forget "recursive" option for both paths. Something like this

{$your_project_dir}/ios/Pods/Head

[2018-09-11 23:29] faustoct commented on #73
@iH04EP Hi and thank you. I think I did before, almost sure of that. I'm gonna try it in some hours and reply you..

[2018-09-12 07:59] erhanbicer commented on #22
thank you @lnikkila . it's worked

[2018-09-19 06:46] faustoct commented on #73
@iH04EP man.. I think I'm missing something. Just can't get this stuff working.. god!

[2018-09-19 07:06] faustoct commented on #73
any other idea to get it working?

[2018-09-19 08:30] faustoct commented on #74
@GitHubGreg is it related?!? https://github.com/react-native-community/react-native-text-input-mask/issues/73

[2018-09-25 06:22] SyntaxError001 opened #76 "Format Money Thousand Separator"
Hi, good day! I have an inquiry about the formatter for Text Mask Input. All of the mask are working aside from the Money Format. I can't find a way to format money input. I want something to look like this:

1
12
123
1,234
12,345
123,456
1,234,567
12,345,678
123,456,789

Can you help me out about this issue? Please see attached picture below. Thank you so much in advance!
![screen shot 2018-09-25

[2018-09-26 13:54] conilas commented on #40
Same issue here. Any updates on this one? :(

[2018-10-02 14:02] lfkwtz commented on #73
did you do the `Always Embed Swift Standard Libraries` step from the readme?

[2018-10-04 10:47] mkds622 commented on #68
@derenebdon ??

[2018-10-10 14:01] yoavapi commented on #65
+1

RN 0.54

[2018-10-11 06:01] sterfanno commented on #40
`
import {TextInputMask} from 'react-native-masked-text'

<TextInputMask
   autoCapitalize="characters"
   type={'custom'}
   options={{mask: 'AAA-9999'}}
   value={}
   onChangeText={} />
`

[2018-10-11 06:03] sterfanno commented on #40
[code]

[2018-10-17 21:06] hkan opened #79 "Cannot verify iOS app with this library"
Hey there! Thanks for this great library. It works like a charm. The only issue I'm having is, I cannot verify and upload my app after I added it to my project. The error message I am getting is `Invalid Bundle. The bundle at '{app name redacted}/Frameworks/InputMask.framework' contains disallowed file 'Frameworks'.` and I have no idea what that even means. Tried googling about it but no luck ther

[2018-10-17 21:32] mattklinker commented on #79
I can't find where I found this info now, but I just ran into this today myself and it was finally resolved by changing the build prop 'Always Embed Swift Standard Libraries' to 'No' for *both* the RNTextInputMask project, as well as it's child InputMask project.

[2018-10-17 21:45] hkan commented on #79
It worked! Thanks @mattklinker.

[2018-10-17 21:45] #79 closed

[2018-10-21 12:33] catamaican commented on #73
Confirm getting the same issue with a clean install

![image](https://user-images.githubusercontent.com/18305539/47267013-963ff100-d546-11e8-9930-6218bf831bbf.png)

[2018-10-25 15:59] olegwn commented on #47
This bug has been fixed in react-native BUT when I use TextInputMask re-assigning value using setState does not work so seems like there's a bug in your library. Below are the details:

`    "react-native": "^0.57.3",
`

### This does not work with TextInputMask but will work with native TextInput

[code]

[2018-10-26 06:39] BanidAzin commented on #40
Thanks @sterfanno , but still I am getting an error, the value is duplicating

[code]
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/40429778/47548833-c8bb6680-d917-11e8-96a5-f755ad3be2b6.gif)

Works fine on emulator, but this is the behaviour in real devices, don't know what causing this, thanks in advance

[2018-10-29 09:36] Mayinwei opened #80 "Xcode 怎么导入framework类库呢"
按照readme中提示操作，之后知道类库，如下两张图
<img width="316" alt="qq20181029-173104 2x" src="https://user-images.githubusercontent.com/20430546/47641451-14347580-dba1-11e8-8f8d-db4bdbe93d73.png">
<img width="530" alt="qq20181029-173015 2x" src="https://user-images.githubusercontent.com/20430546/47641454-14347580-dba1-11e8-80f8-b8e76514d94c.png">

[2018-10-30 06:50] lyseiha commented on #37
+1

[2018-10-30 19:04] adrienthiery commented on #22
Hi there.
I've encountered that issue and I'm trying to fix it since yesterday.

I'm no iOS dev so I'm kind of struggling to get this one.

Even though I added the script, I still have the frameworks in the binary uploaded to AppStoreConnect.

I finally figured out that the script is trying to delete the wrong folder. It's trying to delete `~/Library/Developer/Xcode/DerivedData/MyApp-gcykowogazsws

[2018-10-31 16:39] adrienthiery commented on #22
Small update here.

I finally managed to fix that on the CI.

A bit point that I might have missed was that `the build script needs to be the LAST one (after the *Embed frameworks* step)`.

Also, to disable the `Always embed swift standard libraries` to `false`, I created an npm script (in my `package.json`) :
[code]

That I run in the `postinstall` hook.

[2018-11-05 20:02] KirillGudkov commented on #48
Same on RN: 0.56.0, react-native-text-input-mask: 0.8.0. IOS works properly

[2018-11-05 22:44] javi10823 commented on #63
here, same issue in iOS, clear() in iOS doesnt work! any solution?

[2018-11-08 10:32] henriqueweiand opened #82 "align text to start right"
I have a decimal fill field, which needs to have its fill from right to left, does the plugin make it possible? I did not locate the documentation and by my tests I do not reach this result.

**with plugin**

![celular](https://user-images.githubusercontent.com/6539492/48193096-ceaa4200-e330-11e8-950a-bcae2e0fe345.gif)

Wanted

![desejado](https://user-images.githubusercontent.com/6539492/48193107

[2018-11-13 21:21] derenebdon commented on #68
Sorry, not a maintainer of this project, and no time for side projects :)   We have already done a RN 0.49 -> RN 0.55 and a RN 0.55 -> RN 0.57 transition for our projects.  It was definitely work, but maybe better than you might think.

[2018-11-17 23:38] rodolfovilaca commented on #73
So, after much work done, i found a problem with the linking part of this library, which imported the wrong archives to my Libraries folder.

To fix that I've made the linking part myself on IOS(Android worked fine with the link). To do that, you right click your Libraries  folder in xcode, and select "Add Files to [your project name]", it will ask you which file you are willing to import... you g

[2018-11-20 20:27] sryze opened #83 "Doesn't work on iOS - undefined is not an object (evaluating ... NativeModules.RNTextInputMask.mask)"
When I launch my iOS app I get the following error:

[code]

![error](https://user-images.githubusercontent.com/4525736/48800694-b7a61f80-ed34-11e8-9093-ebd8b40015ed.png)

I followed all the instructions in the README for iOS

1. added InputMask.framework to embedded binaries
2. enabled Always Embed Swift Standard Libraries

Do I need to do something else? It works fine on Android.

[code]

[2018-11-21 23:00] cgomezmendez opened #84 "IOS Project is not a library project"
As title says, this project is not a static library project as it should be
<img width="724" alt="screen shot 2018-11-21 at 6 59 59 pm" src="https://user-images.githubusercontent.com/2073238/48872501-b3731400-edbf-11e8-86ef-106b7a90b8ab.png">

[2018-11-24 13:46] jonathanmauer commented on #73
@rodolfovilaca Thank you so much! this works for me

[2018-11-24 19:19] iamolegga commented on #70
got the same question

[2018-11-25 11:07] rodolfovilaca commented on #83
You might have the same problem i had with the linking part on IOS, where it imported the wrong archives to my Libraries file. If it is this problem, you must do the linking part manually. I posted a step by step of what I did in this issue [#73](https://github.com/react-native-community/react-native-text-input-mask/issues/73#issuecomment-439655769)

[2018-11-27 07:24] bob76828 opened #86 "Can't trigger onKeyPress event on iOS."
My RN version is 0.57.
Does anyone has same issue?

[2018-11-28 22:16] jemilox opened #87 "Would like to be able to use focus()"
<TextInput>
     onSubmitEditing={() => {this.passwordInput.focus(); }}
<TextInput>
<TextInputMask>
      ref={(input) => {this.passwordInput = input; }}
<TextInputMask>

Would like to be able to change fields using focus, so this library would need to implement it as well.

[2018-11-29 10:46] kaueDM commented on #87
Try `this.passwordInput.current.input.focus()`

[2018-11-29 16:02] jemilox commented on #87
Thank you!  You saved me so much time!  this.passwordInput.input.focus() worked without the current!

[2018-12-03 20:32] cmejet commented on #46
Experiencing the same issue, going to try and make the maxLength platform specific for now, but that seems silly

[2018-12-04 20:31] kayzenkayzen commented on #47
Yes, I have the same problem. Cannot reassign the value of and input!

[2018-12-12 07:07] atultiwari1996 opened #88 "How can change writing direction of text inside <TextInputMask />"
Hello,
    <TextInputMask /> is working fine but I need writing direction of text is right to
    left for android platform.
Number format:
Right to left
Cent values are delimited by comma
Thousand values are delimited by point
Ex:
12,45
134,87
1.456,88
12.343,00
127.675,98
3.452.674,92

I manage number format using mask in proper way but writing direction gives issue.
please help related this iss

[2018-12-13 10:00] Komalov commented on #71
@madlabman have you ever had this kind of problem? https://github.com/react-native-community/react-native-text-input-mask/pull/78#issuecomment-434678906

[2018-12-13 10:35] madlabman commented on #71
@Komalov no, I didn't. I use `8` instead of `+7` and it works fine.

[2018-12-18 12:36] kgoedert opened #89 "Mask does not work with floating label"
Hi,
I would like to use the mask component, inside an item with a floating label, like this:

[code]
But the mask is not rendered. Should this work? Using the TextInputMask outside the Item works without problems.

[2018-12-20 23:09] lasersox opened #90 "Please explain mask format."
It would be helpful if there were documentation about how the mask format works. I see that [00] matches two decimals. But what does [90] do?

[2018-12-22 01:53] lasersox commented on #22
Just ran into this today. The suggested fixes are not very good as they need to be re-applied every time we reinstall node_modules (something that happens *constantly* with react-native).

[2018-12-29 22:42] faustoct commented on #73
@lfkwtz can't even build the `react-native-text-input-mask` project on xcode. I have the same error `'React/RCTBridge.h' file not found`

[2018-12-31 05:41] donald-hanson commented on #69
I stumbled on to this with the same issue and I think this mask works with the decimal `[9999]{.}[99]`.

See https://github.com/RedMadRobot/input-mask-android#description for related documentation.

[2019-01-03 17:50] faustoct commented on #74
@GitHubGreg did u find alternative solution?

[2019-01-04 13:13] faustoct commented on #73
@lfkwtz @iH04EP @rodolfovilaca @iamandiradu just found a solution creating a podspec to this project. Which means it can be linked easily to react-native + deatch expo . However it requires migrate to SWIFT_VERSION which I already did , btw it has some compiler semantic issues and I don't know any about swift.. any can help with?!? so can create a pull-request to support project with specs:
[code]

[2019-01-14 15:24] johnh91 commented on #62
Hi @ivanzotov, do we have any updates on this? I have the same issue and need the fix for the project on which I'm working

[2019-01-19 14:34] adimshev opened #94 "LetterSpacing not working on iOS."
react-native: 0.57.8
react-native-text-input-mask: 0.8.0

[code]

Both text and placeholder letterSpacing working on android, but not working on iOS.

[2019-01-28 08:56] curselolz opened #95 "The expected dylibs are missing from the app’s Framework location"
Here's the message while uploading to App Store

`ALWAYS EMBEDED SWIFT LIBRARIES` flag try to set to `YES `and `NO`, nothing help.

[2019-01-29 23:34] ideerge commented on #33
doesnt work

[2019-02-06 17:30] kassim opened #97 "Incompatible with AndroidX"
at the moment this project isn't compatible with the AndroidX package scheme because of a single unused reference to the support library

I've provided a solution here https://github.com/react-native-community/react-native-text-input-mask/pull/96

[2019-02-07 10:13] vinbhai4u commented on #24
Hi @Noitidart can u give an example over here for the same?

[2019-02-12 14:18] ruchi1906 opened #98 "`allowFontScaling={false}` on TextInput have no effect on Android"
To ignore the changes of global font size from device's settings, I tried to pass the AllowFontScaling={False} to its props. But it didn't work. Can you suggest any solution to it.

[2019-02-13 11:01] cassianomon commented on #22
Documentation pull request: https://github.com/react-native-community/react-native-text-input-mask/pull/81

Fix pull request: https://github.com/react-native-community/react-native-text-input-mask/pull/99/commits

[2019-02-13 16:10] #22 closed

[2019-02-14 08:42] sm2017 opened #100 "Wrong result"
See https://github.com/RedMadRobot/input-mask-android/issues/78

[2019-02-14 16:42] sm2017 commented on #100
@ivanzotov please upgrade *RedMadRobot/input-mask-android* to v4

[2019-02-14 20:58] yelenka commented on #62
Same for me, the mask is still visible once the number is deleted.
![image](https://user-images.githubusercontent.com/22195312/52817240-e9473200-3068-11e9-9041-05af715af479.png)

[2019-02-16 13:57] Transfusion commented on #90
I found this on the wiki of the underlying library (RedMadRobot Input Mask):
https://github.com/RedMadRobot/input-mask-ios/wiki/1.1-Custom-Notations

[2019-02-18 21:26] aaronnunez95 commented on #95
Same issue, @curselolz could you solved this?

[2019-02-20 16:09] curselolz commented on #95
We use react-native-masked-text instead of this

[2019-02-22 05:07] dinindu-d opened #102 "Can't trigger onSubmitEditing event on iOS."

[2019-02-22 13:28] gutioliveira commented on #71
@madlabman how did you fix this? How did you set autocompletion to false?

[2019-02-22 13:39] madlabman commented on #71
@gutioliveira

You can find this file inside library folder in `node_modules`.

[2019-02-22 17:28] cassianomon commented on #22
Hey @ivanzotov, should close the issue when the pull request gets merged.

[2019-03-01 19:05] kdawgwilk commented on #65
👍 RN 0.57.7

[2019-03-06 00:49] #84 closed

[2019-03-08 14:52] louy opened #103 "Support CocoaPods"
Hi,

Is there any reason why this library isn't using CocaPods?

Would you guys be open for PRs adding a podspec file?

[2019-03-11 20:29] johhansantana commented on #68
any update on this?

[2019-03-14 18:04] RageOfJustice commented on #102
Its works fine when no mask was set up. Even the library TextInput dont call the onSubmitEditing method.
Seems like native code dont dispatch the event

[2019-03-18 10:27] aloneszjl commented on #31
@aertmann https://github.com/react-native-community/react-native-text-input-mask/issues/73#issuecomment-439655769

[2019-03-18 18:41] frangeris commented on #103
@louy Do you have any fork with this support?

[2019-03-20 00:09] frangeris commented on #73
@faustoct I just get exactly to this point without notice that you've made exactly the same :|

`React/RCTBridge.h` is not being found from Pods, migrating this package to Pods resolve this.

The second error is `InputMask` not found, adding to the `.podspec` resolve this:

[code]

And the last one is this semantic issue, I dont know how to continue from this.

![image](https://user-images.githubu

[2019-03-26 07:10] LyhengTep opened #107 "SWIFT_VERSION '3.0' is unsupported, supported versions are: 4.0, 4.2, 5.0. (in target 'InputMask')"
I have just updated Xcode to version 10.2, then it shows (SWIFT_VERSION '3.0' is unsupported, supported versions are: 4.0, 4.2, 5.0. (in target 'InputMask'). could someone help me with this, please?

react-native version:0.56.0
react-native-text-input-mask:0.8.0

[2019-03-26 09:06] lyseiha commented on #107
+1 :D

[2019-03-26 09:07] hellpirat commented on #107
+1 :)

[2019-03-26 10:30] tienzodi commented on #107
I got same issue here. I tried to set swift target to 4.0. But got new issues:
node_modules/react-native-text-input-mask/ios/RNTextInputMask/RNTextInputMask/RNTextInputMask.m:32:32: No known class method for selector 'maskValueWithText:format:'

node_modules/react-native-text-input-mask/ios/RNTextInputMask/RNTextInputMask/RNTextInputMask.m:37:32: No known class method for selector 'unmaskValueWith

[2019-03-26 12:06] sgd27 commented on #107
turn on Swift 3 @objc Interface, and everything works fine

[2019-03-26 14:03] tienzodi commented on #107
It works. Thank you :)

[2019-03-26 14:18] trickyc0d3r commented on #107
how i can turn on swift 3 @obc interface? didnt catch =(

[2019-03-26 14:18] trickyc0d3r commented on #107
where it's located?

[2019-03-26 16:48] TylerNRobertson commented on #107
same issue on my end, where is it located?

[2019-03-26 20:15] gdhillon-pbl commented on #107
Just created https://github.com/react-native-community/react-native-text-input-mask/pull/108  for swift 4.2 upgrade.

[2019-03-27 03:34] tienzodi commented on #107
You can check my screenshot below:
![Screen Shot 2019-03-27 at 10 32 08 AM](https://user-images.githubusercontent.com/21222786/55048741-e08c4780-507b-11e9-859b-1abcbbbb1703.png)

[2019-03-27 13:54] haotangio commented on #107
Can someone upgrade and release a new version for this?

[2019-03-27 13:56] gdhillon-pbl commented on #107
There is PR https://github.com/react-native-community/react-native-text-input-mask/pull/108

[2019-03-27 14:14] haotangio commented on #107
I was able to archive the build but cannot upload to app store as it said that my bundle contain invalid framework

[2019-03-27 16:10] antonsivogrivov commented on #107
+1

[2019-03-27 16:10] curselolz commented on #107
+1

[2019-03-27 16:32] unnamed92 commented on #107
+1

[2019-03-27 17:55] edxe commented on #107
@haotangio how did mange to build?

[2019-03-27 17:58] johhansantana commented on #107
I can't find it in my build settings:
![Screen Shot 2019-03-27 at 1](https://user-images.githubusercontent.com/9933887/55100396-37077f00-5098-11e9-8828-fba679685259.jpg)

[2019-03-27 18:11] johhansantana commented on #107
I get the same error after trying this.

I also get a warning when I open the project on xcode:
<img width="413" alt="Screen Shot 2019-03-27 at 2 10 12 PM" src="https://user-images.githubusercontent.com/9933887/55101295-26f09f00-509a-11e9-84f4-cbdb78905b11.png">

Use Xcode 10.1 to migrate the code to Swift 4.

[2019-03-28 09:13] radetsky commented on #107
Set RNInputMask target to Swift 4.0 and Swift3 objc interface to On helped me to run my project.

[2019-03-28 11:39] lynnekers commented on #107
Target to Swift 4.0 and Swift3 objc interface is On, now I'm getting this:
![Screen Shot 2019-03-28 at 08 37 46](https://user-images.githubusercontent.com/22202232/55154938-d2e6c880-5134-11e9-8178-6c4b28833d1f.png)

[2019-03-28 12:31] hellpirat commented on #107
Does not work for IOS 12.2

[code]

[2019-03-31 23:59] migue1s commented on #107
Tested after #108 was merged, getting the same error as above.

Environment:
- react-native-text-input-mask@0.9.0
- react-native@0.57.5
- XCode@10.2
- iOS 12.2

Error:

Note: It works as expected on iOS 12.1.

[2019-04-01 19:29] migue1s commented on #107
I linked it via manual linking (not cocoapods) and it's generating a runtime exception on startup. I tested using an iPhone 7 simulator and switching between simulator versions. I also tried cleaning the project but it didn't help. What other details would be helpful to you @gdhillon-pbl ?

[2019-04-01 19:32] gdhillon-pbl commented on #107
I am using cocoa pods, I will re-check with importing in the project. It doesn't make sense that it compiles for 12.1 and not for 12.2.

[2019-04-01 19:40] migue1s commented on #107
It compiles targeting both versions but it crashes on startup on 12.2

[2019-04-03 08:06] daveyholler opened #111 "Optional & Arbitrary patterns result in error of WrongFormat"
Reading through the docs for the [RedMadRobot syntax](https://github.com/RedMadRobot/input-mask-ios/wiki/1.-Mask-Syntax) it appears that `[AAA…]` should allow me to enter between 3 and however many characters. However, when attempting to use the format (or any format that includes the ellipsis) I receive the following error in the Xcode debugger
[code]
Below is a snippet from my React component
[c

[2019-04-05 04:23] Hanums opened #112 "No known class method for selector 'maskValueWithText:format:'"
iOS project build fails after recent XCode upgrade from 8 to 10

Here are error details, please help.

Build target RNTextInputMask of project RNTextInputMask with configuration Debug

 error: no known class method for selector 'maskValueWithText:format:'
    NSString *output = [RNMask maskValueWithText:inputValue format:maskString];

error: no known class method for selector 'unmaskValueWithText:

[2019-04-05 10:33] LyhengTep commented on #95
I've encountered the same issue.

[2019-04-05 19:06] johhansantana commented on #107
any updates?

[2019-04-07 14:16] ajanauskas opened #113 "Crash on iOS when value is 1 symbol length"
Crashlog:

[code]

I am using `react-navigation` library and navigating to screen which has `TextInputMask` like this:

[code]

when `props.value` = `9` (or any value that is 1 symbol length) causes crash. I did manage to pinpoint problem and fix for my project https://github.com/ajanauskas/react-native-text-input-mask/pull/1 by modifying line 92 (`- (void)updateTextField:(MaskedTextFieldDelegate

[2019-04-08 17:23] johhansantana commented on #107
oh.. updated from `0.7.0` to `0.9.0` seemed to fix everything.

[2019-04-08 21:17] edxe opened #114 "DYLD, [0x4] Symbol missing"
After updating XCode to latest and the upgrading to the 0.9.0 version i get the following error

Termination Reason:    DYLD, [0x4] Symbol missing

Application Specific Information:
dyld: launch, loading dependent libraries
DYLD_FALLBACK_LIBRARY_PATH=/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 11.4.simruntime/Contents/Resources/RuntimeRoot/usr/lib
DYLD_ROOT_PATH=/Library/Developer/CoreS

[2019-04-09 15:04] hellpirat commented on #107
Fixed after upgraded to react-native 0.59.3

[2019-04-10 08:47] trickyc0d3r commented on #107
dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/olegtiulenev/Library/Developer/Xcode/DerivedData/twentyonevek-aakospyxjhkqufcqmfvtdxqbosih/Build/Products/Debug-iphonesimulator/InputMask.framework/InputMask
  Reason: no suitable image found.  Did find:
	/usr/lib/swift/libswiftCore.dylib: mach-o, but not built for iOS simulator

[2019-04-10 08:47] trickyc0d3r commented on #107
rn 0.59.4

[2019-04-10 08:47] trickyc0d3r commented on #107
react-native-text-input-mask 0.9.0

[2019-04-10 09:09] trickyc0d3r commented on #107
any solutions?

[2019-04-10 09:43] ivanzotov commented on #107
Should work in v1.0.0, ping me to reopen the issue please if it doesn't

[2019-04-10 09:43] #107 closed

[2019-04-10 09:44] ivanzotov commented on #114
@edxe could you check this out on the new version v1.0.1?

[2019-04-10 09:45] ivanzotov commented on #112
@Hanums could you check this out on the new version v1.0.1, please?

[2019-04-10 09:46] ivanzotov commented on #102
Fixed in v1.0.1, thanks

[2019-04-10 09:46] #102 closed

[2019-04-10 09:49] trickyc0d3r commented on #95
RN 0.59.4,
plugin version is 1.0.1
Error `dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/olegtiulenev/Library/Developer/Xcode/DerivedData/twentyonevek-aakospyxjhkqufcqmfvtdxqbosih/Build/Products/Debug-iphonesimulator/InputMask.framework/InputMask
  Reason: no suitable image found.  Did find:
	/usr/lib/swift/libswiftCore.dylib: mach-o, but not built for iOS simulator`

[2019-04-10 10:07] trickyc0d3r commented on #107
@ivanzotov , Ваня, не работает
RN 0.59.4,
plugin version is 1.0.1
Error dyld: Library not loaded: @rpath/libswiftCore.dylib Referenced from: /Users/user0/Library/Developer/Xcode/DerivedData/project/Build/Products/Debug-iphonesimulator/InputMask.framework/InputMask Reason: no suitable image found. Did find: /usr/lib/swift/libswiftCore.dylib: mach-o, but not built for iOS simulator

[2019-04-10 10:09] trickyc0d3r commented on #107
Стоп, несовместимости свифта - нету больше, все ок. Проблема с тем, что библиотеку не видит, если пробовать запустить проект на iOS 12.2 iPhone XS Max

[2019-04-10 10:33] hellpirat commented on #107
Try to reinstall pods.
[code]

[2019-04-10 10:55] ivanzotov commented on #107
@trickyc0d3r let's speak English, please, or write me directly. Reinstalling pods and node_modules might help I guess

[2019-04-10 11:04] ivanzotov commented on #107
@trickyc0d3r check that `Embedded Binaries` has a `InputMask.framework`, try to remove and drag and drop it again if it is already there

[2019-04-10 12:03] trickyc0d3r commented on #107
@ivanzotov there is no podspec for package =(
@hellpirat - React-NAtive version is 0.59.4 - not necessary for pod install

[2019-04-10 12:07] ivanzotov commented on #107
@trickyc0d3r if you have a time we can connect directly and I can help you, then we will write here the solution we found

[2019-04-11 08:39] dogukankotan commented on #83
I used both linking and manual instructions. I had the same issue. After adding `libRNTextInputMask.a` to project's `Build Phases` ➜` Link Binary With Libraries`;
 it gives an error in build phase ` 'RCTText/RCTSinglelineTextInputView.h' file not found `.

I think it is related React Native versions, I'm using react-native 0.58.6.
I also checked `<RCTText/RCTSinglelineTextInputView.h>` is also in

[2019-04-11 08:44] dogukankotan commented on #45
I'm having same issue on 0.58 RN with version 1.0.1. Any updates? I cannot roll back to before versioning 1 because of the Swift conversation of XCode 10.2. Thanks apple.

[2019-04-11 09:37] dogukankotan commented on #45
I found the solution. Make sure import of `libRNTextInputMask.a` after the `libRCTText.a`.
😄

Thanks.
![Ekran Resmi 2019-04-11 11 50 33](https://user-images.githubusercontent.com/10637834/55946994-5b498b00-5c56-11e9-8bb7-46e4cdedb2b8.png)

[2019-04-11 09:39] dogukankotan commented on #83
I found the solution. Make sure import of `libRNTextInputMask.a` after the `libRCTText.a`.
😄

Thanks.
![Ekran Resmi 2019-04-11 11 50 33](https://user-images.githubusercontent.com/10637834/55946994-5b498b00-5c56-11e9-8bb7-46e4cdedb2b8.png)

[2019-04-11 12:12] robertbossaert opened #115 "Module 'inputMask' not found"
I have upgraded from version 0.8.0 to 1.0.1 and try to build a new version using `react-native run-ios` however I get the following error:

[code]

In the node_modules I see this same line where its trying to import, but I do not see the file. I have manually linked everything btw, as described in the projects readme.

[2019-04-11 15:00] robertbossaert commented on #115
My bad... seems I had forgotten to "you have to drag and drop InputMask.framework to Embedded Binaries in General tab of Target" as also described in the README. I had it like that in the old version, but maybe it was removed upon updating the dependencies.

Afterwards I got some errors on other imports, I did the whole (manual) linking process again and then followed the instructions here: https:

[2019-04-12 10:59] #97 closed

[2019-04-14 16:03] RageOfJustice commented on #95
I have the same issue as @trickyc0d3r , but only on 11.3 iOS, maybe its on all 11s versions, because 12.2 is working

[2019-04-14 19:51] ivanzotov commented on #95
I reproduced this issue, working on it, thank you

[2019-04-17 20:22] SamuelHiroyuki commented on #83
@dogukankotan I've tried importing but it still is not working. I did the whole linking process, but it shows me the same error yet. Did you do any more configuration on your project?

#### I'm using react-native-text-input-mask 1.0.1 n react-native 0.59.4 on macOS Mojave 10.14.3

![issue](https://user-images.githubusercontent.com/36797629/56317944-63149e00-6134-11e9-9003-ecedf2425117.png)

[2019-04-19 05:09] ArunKulasegaran opened #116 "Build Issue in IOS"
I've tried importing but it still is not working. I did the whole linking process, but it shows me the same error yet. Did you do any more configuration on your project?

I'm using react-native-text-input-mask 1.0.1 n react-native 0.59.4 on macOS Mojave 10.14.3

[2019-04-19 11:23] arshidkv12 opened #117 "Archive error (ios)"
Build working fine but I am getting "RCTText/RCTSinglelineTextInputView.h" not found error.

[2019-04-19 12:04] arshidkv12 commented on #117
"react": "16.4.1",
   "react-native": "0.56.0",
    "react-native-text-input-mask": "1.0.1",

[2019-04-21 16:17] Dietermartens commented on #83
same here!

[2019-04-22 14:58] andrewhartwig commented on #83
Same here! 👍 @SamuelHiroyuki how do you hide the compiler warnings? I have to scroll down like 50 pages to find my errors :)

Any solutions? I'm on RN 0.56 and am unable to update RN right now, but it seems people are having issues on the latest version anyways.

[2019-04-22 15:08] andrewhartwig commented on #115
Hey, I made sure to follow all your instructions, including the comments you linked, and am still getting the issue. To confirm:
![image](https://user-images.githubusercontent.com/42554343/56507304-d4ff3580-64ee-11e9-902c-9d395de24f67.png)
`Linked the InputMask.framework`
![image](https://user-images.githubusercontent.com/42554343/56507313-dd577080-64ee-11e9-82ef-e7e9c467a1e1.png)
`libRNTextInputM

[2019-04-22 18:08] SamuelHiroyuki commented on #83
@andrewhartwig you can use the filters at the left-bottom of the page.  ![image](https://user-images.githubusercontent.com/36797629/56516259-587d4e80-6510-11e9-8af1-e2bf7e341598.png)

I couldn't fix this problem. I can't downgrade the RN 0.59 because Apple only accept apps that are using IOS 12+ SDK.

[2019-04-22 22:33] ivan3177 opened #118 "Value binding not working(iOS)"
I bind value of TextInputMask like this:

`value={this.state.phone === ""
            ? null
            : this.state.phone}`

However it doesn't work. Value property is updated, but old text is still showing. Any ideas how to fix? I guess problem is with value being set to undefined in index.js :
` value={undefined}`

https://github.com/react-native-community/react-native-text-input-mask/blob/2b6

[2019-04-23 12:42] andrewhartwig commented on #116
What error are you getting?

[2019-04-23 16:40] RyanThomas73 commented on #95
I believe its all osx versions prior to 12.2. We get the same error+crash on devices running 12.1.4, but it works for us on 12.2

[2019-04-24 14:44] marcogorak commented on #89
I'm have the same problem =/

[2019-04-25 12:43] marcogorak commented on #89
I search about it, I see that native base rewrite the Input in <Item></Item> tags, see this print of doc:

![Captura de Tela 2019-04-25 às 09 39 10](https://user-images.githubusercontent.com/12548136/56736279-23eeda00-673e-11e9-9d97-cd841e34c87f.png)
Font: https://docs.nativebase.io/Components.html#inline-label-headref

One way to solve this problem is using one workound with react-native-masked-

[2019-04-26 19:16] devmathiusso commented on #118
It's not working on Android for me. Value binding works normally with TextInput React Native component, but not with TextInputMask component...

[2019-04-29 20:25] AronnoDIU opened #119 "SWIFT_VERSION '3.0' is unsupported, supported version are: 4.0, 4.2, 5.0. (in target 'Flash Chat') for Xcode 10.2.1"
Already I'm tried with given solutions on this site for this problems. and it's not working with the updated Xcode version. that's why, I want a proper solution for this problem. So please help me out.
<img width="999" alt="Screen Shot 2019-04-30 at 2 24 10 AM" src="https://user-images.githubusercontent.com/20730108/56924603-1f844180-6aef-11e9-821f-3b1a1b4ed13d.png">

[2019-04-30 11:34] amitassaraf commented on #45
Anyone found a solution?

[2019-04-30 14:24] krupalagravat commented on #115
I have also did the same thing, but can't solved the issue

[2019-04-30 14:28] andrewhartwig commented on #115
Hey man, I don't know what I did to fix it, it seems to be an issue everytime my node_modules moves around.

It just happened to me again this morning.

My steps of messing around include:

1) Cleaning Build :: Product -> Clean (cmd+shft+k)
2) Rebooting
3) Removing the `InputMask.framework` from the Embedded Binaries and re-dragging it in.
4) Ensuring the `libRNTextInputMask.a` is near the bottom,

[2019-05-01 05:29] krupalagravat commented on #115
It's work fine in simulator. but not work in real device

[2019-05-02 07:28] vishaljadav24 commented on #45
I'm having same issue.

 "react": "16.0.0-beta.5",
"react-native": "0.51.0",
"react-native-text-input-mask": "^1.0.1"

[2019-05-04 12:24] mouthzipper commented on #45
facing the same issue.

[2019-05-09 10:00] bonesyblue commented on #115
The following Xcode settings worked for me (tested on iOS device running iOS 12.1):

Project -> Target -> Build Settings -> Build Options -> Set Always Embed Swift Standard Libraries to "Yes"

[2019-05-09 18:34] chemanth commented on #112
@Hanums Modified Swift Language Version for InputMask.xcodeproj to Swift 4.2. The error disappeared. I have selected Swift 5 earlier which caused this error.

[2019-05-13 10:06] prsidhu opened #121 "iOS: NativeModule cannot be null"
This library is working like a charm on andorid. However, on iOS, in RNTextInputMask project, I have been unable to link InputMask.framework to Embedded Binaries.

It says the InputMask.framework is not found.

![IMG_F0799BC33C11-1](https://user-images.githubusercontent.com/5424788/57613507-a841b980-7594-11e9-84e3-3841ad787336.jpeg)

[2019-05-14 10:56] raja-bounce commented on #73
anybody got the solution,  i am also facing the same issue.

[2019-05-15 12:47] amitassaraf commented on #115
For anyone who had trouble with this, I managed to solve it 😄

Under Libraries find `RNTextInputMask.xcodeproj`, select it, under its targets select `RNTextInputMask`
Drag `InputMask.xcodeproj -> Products -> InputMask.framework` into the Link With Libraries

[2019-05-15 14:38] andrewhartwig commented on #45
Facing the same issue here as well, seems to come up out of no where. Have had no prior build issues but am getting it today randomly with no code changes.

[2019-05-16 10:02] Cygra opened #122 "collected in excellent-RN-libs"
collected in [excellent-RN-libs](https://github.com/Cygra/excellent-RN-libs)

[2019-05-16 10:29] ivanzotov commented on #122
Thanks

[2019-05-16 10:29] #122 closed

[2019-05-17 18:49] hbaseline opened #123 "SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'InputMask')"
My build keeps failing with this error:
[code]

Xcode: 10.1
react-native: 0.59.8
react-native-text-input-mask:  ^1.0.1

Thank you

[2019-05-23 07:57] romreed commented on #63
Still have this issue. Any changes?

[2019-05-24 11:06] freemansion commented on #19
Yeah, it always good idea to look into official docs.
In my case, a trick was to enable build option `Embed Swift Standard Libraries`
![1*j7VdY3g9_Vz6YTki3T17CQ](https://user-images.githubusercontent.com/3519345/58323560-88d94500-7e4e-11e9-823a-8ce5b58df097.png)

[2019-05-28 08:00] svbutko opened #124 "Autocomplete doesn't work"
Hi, I don't know exactly whether it's this repository's issue or the native ones but when trying to apply  the result of `autoComplete` or `textContentType` to an input, it simply adds an empty symbol instead of adding the actual autocomplete characters.

In most of the cases this functionality is the _must have one_ and if it's not implemented yet then is there any plans to do this later?

Thanks

[2019-05-28 19:15] vtretyv commented on #63
It's a react native issue tied to textInput. You an either upgrade to 57.1 +, or replace this file locally:
https://raw.githubusercontent.com/facebook/react-native/2307ea60d03edd234511bfe32474c453f30c1693/Libraries/Text/TextInput/RCTBaseTextInputShadowView.m

Here is a thread on a relevant issue:
https://github.com/facebook/react-native/issues/18874

The very last few posts talk about the fix.

[2019-05-29 08:11] romreed commented on #63
@vtretyv i have rn 59.8 and still can't clean textInput.

[2019-05-29 08:32] dejavu20180307 commented on #117
Got same issue over and over, anyone has idea?  This is really annoying... Though I managed to archive once, no idea what I have done.

[2019-05-29 17:00] igortupini commented on #23
This should be on the docs. Solved my issue, thank you!

[2019-05-30 12:50] dsznajder commented on #123
@hbaseline 	I'm not sure but this is probably related to your Xcode version:
https://swift.org/blog/swift-5-released/
https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_release_notes/swift_5_release_notes_for_xcode_10_2?language=objc

[2019-05-30 16:27] hbaseline commented on #123
Upgrading Xcode to `10.2.1` solved the issue. Thank you

[2019-05-30 16:27] #123 closed

[2019-05-30 17:12] zvs001 commented on #123
I downgraded library to `0.9.0` to get it work on xcode 10.1

[2019-06-04 12:36] LRNZ09 commented on #103
This would be really useful.

[2019-06-05 01:40] jamesone commented on #117
I also have the same issue. Did you find a solution for this?

[2019-06-05 18:28] dejavu20180307 commented on #117
No, I used another library in the end. I can make it work sometimes, but
it's just too error prone, a waste of time.

On Tue, Jun 4, 2019 at 6:40 PM James Wainwright <notifications@github.com>
wrote:

[2019-06-06 14:17] anicolasdc commented on #107
Hi, i found the solution for this problem, its so easy, check it this:
you have to change your swift language version to 4.2 or 5.0
![Captura de Pantalla 2019-06-06 a la(s) 9 09 24 a  m](https://user-images.githubusercontent.com/36165070/59039778-0f245c80-883b-11e9-8eb2-5f12e03f668c.png)

after that, you have to turn on @objc inference (ON)
![Captura de Pantalla 2019-06-06 a la(s) 9 14 15 a  m](ht

[2019-06-07 17:56] pratikafterpay opened #125 "How to focus on next field if the masking criteria is fulfilled? Tried using field length but not working properly as we are having spaces in between."
# Question

[2019-06-07 20:13] pratikafterpay opened #126 "Unable to use onSelectionChange prop. Is there any alternative for this?"
# Bug

## Environment info

React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce

<!--->

Describe what you expected to happen:

1. Need to get the cursor position

2. When mask format is fulfilled and cursor is at extreme right want to take the focus to next field.

## Reproducible sample code

<TextInputMask
              placeholder="Card number"
              access

[2019-06-09 06:24] ideerge commented on #115
![image](https://user-images.githubusercontent.com/6708308/59155703-73fed300-8a44-11e9-9fe8-b87ed979fa91.png)
My XCode won't compile unless the 3 are in these orders. I like this module, but it is very tricky to setup each time.

[2019-06-10 12:45] skartik7 commented on #95
@ivanzotov I faced the similar issue issue.

dyld: Library not loaded: @rpath/libswiftCore.dylib
Reason: image not found

Did you find the cause & resolution for this issue?

I tried solution provided by @RyanThomas73 but it didn't worked too.

Thanks in advance. Any help will be appreciated.

[2019-06-10 13:47] sabun123 commented on #115
There seems to be some kind of race issue happening. Even with InputMask.framework and libRNTextInputMask.a below libRCTText.a it randomly fails with the 'not found' errors.

Sometimes doing a clean (CMD+Shift+K) and then build, it works. Then after that successful build, run the build again and it fails with the error 'Module 'inputMask' not found' in RNTextInputMask.h even though nothing has cha

[2019-06-11 18:08] pratikafterpay commented on #86
@bob76828 Are you able to resolve this issue?
I am facing the same issue with onSelectionChange.
Will appreciate your help.

[2019-06-11 18:09] pratikafterpay commented on #126
@ivanzotov @ArmandoAssuncao Can you please help me with this issue?

[2019-06-13 07:06] MIREX commented on #117
Try to follow this order:

![image](https://user-images.githubusercontent.com/1025141/59410915-790cab00-8dd3-11e9-9823-3204e917d874.png)

 It worked for me. I use XCode 10.1

[2019-06-13 07:27] MIREX opened #127 "[iOS] Code signing "InputMask.framework" failed."
# Bug

I have successfully archived my app. When I try to update it in AppStore it always fails with same error: **"Code signing "InputMask.framework" failed."**.

![image](https://user-images.githubusercontent.com/1025141/59434376-e38a0f00-8e04-11e9-9a1c-0b4d79b85fb5.png)

I think, it started when I update XCode to version 10 after Apple announcement: _"Starting March 27, 2019, all iOS apps submi

[2019-06-14 00:04] romulogarofalo commented on #51
@lutchobandeira where did u put the ReversedMaskTextChangedListener ? can u show the code?

[2019-06-16 13:10] yoavapi commented on #45
same issue

[2019-06-18 09:45] panda919 opened #128 "'RCTText/RCTSinglelineTextInputView.h' file not found on ios archive"
# Bug

I got "'RCTText/RCTSinglelineTextInputView.h' file not found " error on ios archieve step.
I am using react native version:0.59.8 and     "react-native-text-input-mask": "^1.0.1".

[2019-06-18 11:22] sabun123 commented on #128
Same here, get it every time.

What I've tried:
Clearing XCode's DerivedData folder (only the folder for the project I'm working on). Did not solve the issue.

What generally solves it intermittently:
1. With the project open in XCode, clean the project (CMD+Shift+K).
2. Then remove InputMask.framework from the Embedded Binaries section.
3. Close XCode.
4. Open XCode, let it complete it's indexing

[2019-06-18 13:18] jerearaujo03 commented on #119
Did you solved it?

[2019-06-19 12:47] yoavapi commented on #117
which one did you use?

[2019-06-19 17:33] sabun123 commented on #128
Ok, I went on a wild goose chase but somehow it seems to work as expected now.

Steps I took:
1. With Xcode open and the project indexed, clean it (CMD+Shift+K).
2. Close Xcode (CMD+Q)
3. Open a Terminal
4. Following the steps from here (https://stackoverflow.com/questions/32730312/reason-no-suitable-image-found) :
[code]
5. Open the project in XCode, it should take a lot longer to index (let it c

[2019-06-20 11:58] MIREX commented on #127
This seems to be XCode 10.1 issue.
When I tried with latest XCode 10.2.1 and macOS Mojave 10.14.5 everything was successfully signed.

[2019-06-20 11:58] #127 closed

[2019-06-20 20:38] ksetrin commented on #23
My project with RN 0.59.9 was crashed with ios 12.1 and I have been starting to search a solution
The solution is very simple, but I spent a lot of time to find them
The solution is https://stackoverflow.com/a/26949219
The solution can be effected not only for react-native-text-input-mask

[2019-06-21 06:23] lhuazai commented on #112
Has anyone solved this problem?

[2019-07-01 20:26] fabioars commented on #119
Same issue here!

[2019-07-11 07:26] sarykemmoun commented on #87
For me, `this.phoneInput.input.focus();`
did the work too.

[2019-07-12 15:59] Mikecoon opened #130 "Abandoned?"
Seems like nobody really cares about this project anymore.
Project is not compatible with react native 0.60.3 autolinking feature.

[2019-07-12 19:47] schultzRr commented on #115
I ran into this problem too and what worked for me was making sure that I followed proposed order by @ideerge on both "Link Binary With Libraries" and "Product->Scheme->Manage Schemes..."

[2019-07-13 06:56] kdawgwilk commented on #130
This is mostly due to lack of cocoapods support

[2019-07-14 08:47] ivanzotov commented on #130
The module is not abandoned, but unfortunately I do not have much free time to actively support it (new maintainers are welcome), so autolinking feature is not supported yet.

[2019-07-14 08:47] #130 closed

[2019-07-14 08:50] Mikecoon commented on #130
Turned out that 0.60+ doesn't compatible with swift, so there is no way to make it work.

Although, there are other options for masking text, but those plugins are worst.

[2019-07-14 11:51] RageOfJustice commented on #130
So, may be make some workaround? Its unable to use this lib (RN 60.3) even when autlinking disabled (old way)

[2019-07-14 11:53] Mikecoon commented on #130
Apparently, no. We have to rewrite module in Objective-C in order to make it work.

Sounds ridiculous to downgrade something from swift to obj-c in 2019...

[2019-07-14 12:11] RageOfJustice commented on #130
I dont know swift or obj-c good enough but ive heard something about convert swift code into obj-c. Is it possible for InputMask lib?

[2019-07-14 12:19] Mikecoon commented on #130
Probably we can give it a shot, could you please provide us with details?..

[2019-07-15 10:08] seunlanlege commented on #128
my solution is to cannibalize this library, and include it in your project.

[2019-07-15 10:20] panda919 commented on #128
would you explain in details?

[2019-07-15 10:43] seunlanlege commented on #128
clone this https://github.com/RedMadRobot/input-mask-ios in your ios folder,
add the framework and xcodeproj to your project.

add these files to your project

https://github.com/react-native-community/react-native-text-input-mask/blob/master/ios/InputMask/InputMask/Classes/RNMask.swift
https://github.com/react-native-community/react-native-text-input-mask/blob/master/ios/RNTextInputMask.h
https:/

[2019-07-16 15:18] Asalem1 commented on #45
@ivanzotov this seems like a pretty persistent issue. Is there a reason why it's still closed?

[2019-07-19 06:52] sudhanshu-kiwi commented on #45
I'm also facing same issue any idea for this.

[2019-07-20 01:00] kdawgwilk commented on #103
I have a fork I have been maintaining with CocoaPods support, check the `support_cocoapods` branch https://github.com/kdawgwilk/react-native-text-input-mask/tree/support_cocoapods

[2019-07-20 01:01] kdawgwilk commented on #103
This really should be a priority now with RN 0.60 that now uses CocoaPods by default

[2019-07-20 02:34] kdawgwilk opened #131 "`selectTextOnFocus` broken"
# Bug

on iOS the text is not focused at all and on android the selection behavior is very odd and only selects part of the text when using a currenct mask like so `$[9999999].[00]`

## Environment info

React native info output:

[code]

Library version: 1.0.1

## Steps To Reproduce

1. Create an instance of `TextInputMask`
2. Pass it props to `autoFocus` & `selectTextOnFocus` & `mask="$[9999999]

[2019-07-20 07:21] lfoliveir4 opened #132 "Build Failed on IOS - The “Swift Language Version” (SWIFT_VERSION)"
# Bug

  After installing and linking to the library, and following the unique procedure for IOS, when I
  go to build the library I am presented with the following error below:

## React native info output:

 ![Captura de Tela 2019-07-20 às 04 17 48](https://user-images.githubusercontent.com/32423942/61575698-5f7f1300-aaa5-11e9-95c0-7ead98e59953.png)

## Environment info

"react": "16.8.6",
"rea

[2019-07-21 02:41] Bruno-Furtado opened #133 "componentWillReceiveProps is deprecated and will be removed in the next major version of RN"
# Feature Request

Use static `getDerivedStateFromProps` instead of `componentWillReceiveProps`.

## Why it is needed

`componentWillReceiveProps` is deprecated and will be removed in the next major version of React Native.

## Possible implementation

Replace the function.

[2019-07-22 08:55] victormoya commented on #132
Same issue here!

[2019-07-22 11:53] #65 closed

[2019-07-22 14:21] ivanzotov commented on #117
Try to change the build system File -> Workspace Settings..., select "New Build System"
<img width="519" alt="Screenshot 2019-07-22 at 5 19 09 PM" src="https://user-images.githubusercontent.com/147321/61639871-fbc33880-aca4-11e9-8649-72e4c4775acb.png">

Then Product -> Scheme -> Edit Scheme -> Build, uncheck "Parallelize Build"
<img width="704" alt="Screenshot 2019-07-22 at 5 19 22 PM" src="https:

[2019-07-22 14:21] #117 closed

[2019-07-22 14:22] #116 closed

[2019-07-22 14:23] ivanzotov commented on #128
duplicate of #117

[2019-07-22 14:23] #128 closed

[2019-07-22 14:24] ivanzotov commented on #95
Try the steps described here:
https://github.com/react-native-community/react-native-text-input-mask/issues/117#issuecomment-513812574

[2019-07-22 14:24] #95 closed

[2019-07-22 14:25] #87 closed

[2019-07-23 04:12] lfoliveir4 opened #134 "Input mask"
# Bug

This error appears when I put a value inside the input and make a request at some endpoint.

## Environment info

"react": "16.8.6",
"react-native": "0.59.3",

## React native info output:

![image](https://user-images.githubusercontent.com/32423942/61682046-7f514980-ace6-11e9-8815-3ac65414210f.png)

Library version: ^1.0.1

[2019-07-24 20:01] igortupini commented on #62
I'm still having this issue as well

[2019-07-25 21:27] igortupini commented on #68
Anu update on this?

[2019-07-25 21:31] igortupini commented on #14
Any update on this?

[2019-07-25 21:32] igortupini commented on #47
Same on 0.59.9

[2019-07-26 07:15] tabekg commented on #62
Me too!

[2019-07-30 17:37] igortupini commented on #62
This issue seems to be ignored for more than a year

[2019-08-01 09:03] waris117 commented on #45
Facing same issue #import <RCTText/RCTSinglelineTextInputView.h> 'RCTText/RCTSinglelineTextInputView.h not found'
Any one found and working solution, please share, i am using version 1.0.4
 "react-native-text-input-mask": "^1.0.4"

[2019-08-01 09:23] sudhanshu-kiwi commented on #45
I have resolved my issue by doing the following step.
1. As @dogukankotan mention I found the solution. Make sure import of libRNTextInputMask.a after the libRCTText.a.
2. add InputMask.framework - Go Library in Xcode -> RNTextInputMask.xcodeproj -> Under TARGETS(RNTextInputMask) -> Build Phases -> Link Binary With Libraries.

[2019-08-02 09:13] ivanzotov commented on #68
Fixed in 1.0.6, please try the new version

[2019-08-02 09:13] #68 closed

[2019-08-02 09:14] ivanzotov commented on #63
fixed in 1.0.6, please try the new version

[2019-08-02 09:14] #63 closed

[2019-08-02 09:15] ivanzotov commented on #47
fixed in 1.0.6

[2019-08-02 09:15] #47 closed

[2019-08-02 15:07] igortupini commented on #68
@ivanzotov Tried new version (1.0.6) and the issue still happens. And still only on iOS.
Also the `clear()` ref method doesn't work only on iOS as well.

[2019-08-02 15:09] igortupini commented on #47
Replied on issue #68
Updated to 1.0.6 and the issue still happens.
Also the `clear()` ref method doesn't work on iOS as well.

[2019-08-02 19:06] ivanzotov commented on #47
Are you using `refInput` prop to get ref?

[2019-08-02 19:43] igortupini commented on #47
I'm using the `ref` prop. I actually can use the `focus()` method only the `clear()` doesn't work.
![image](https://user-images.githubusercontent.com/1246084/62394730-73fee900-b544-11e9-8d50-2576f06d9774.png)

[2019-08-03 09:20] ivanzotov commented on #47
Changing `ref` to `refInput` should fix that

[2019-08-05 18:11] igortupini commented on #47
@ivanzotov Changing to refInput doesn't seem to work. :(
This results on null ref.
![image](https://user-images.githubusercontent.com/1246084/62485533-54a9cb00-b793-11e9-9f15-a9d0990bbc77.png)
![image](https://user-images.githubusercontent.com/1246084/62485546-5a071580-b793-11e9-9d59-0875c94667d5.png)

[2019-08-08 16:39] RyanThomas73 commented on #130
@Mikecoon Can you clarify where you read / why you made this statement:

[2019-08-12 23:35] aspidvip opened #135 "React Native 0.60 not work"
# Bug
Hello!
This component not work is RN 60

## Environment info

React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce

1.
2.
...

Describe what you expected to happen:

1.
2.

## Reproducible sample code

[2019-08-14 08:15] akhil-geekyants commented on #132
Facing the same issue.

[2019-08-16 10:02] uiltonjose commented on #117
This error still happens to me!
"react": "16.4.1",
"react-native": "0.60.4",
"react-native-text-input-mask": "^1.0.6",

[2019-08-17 16:20] uiltonjose commented on #73
Still happening to me as well.

[2019-08-19 03:30] kdawgwilk commented on #131
This is actually fixed in newer versions 👍

[2019-08-19 03:30] #131 closed

[2019-08-20 19:23] betoharres commented on #17
Thanks @ArmandoAssuncao !! :smile:
This should be on the README.
Can I send a PR adding this?

[2019-08-21 05:17] russelRajitha commented on #135
Working in android and giving warning, but ios its crashing app.

[2019-08-21 23:37] betoharres commented on #135
this kind of issues shouldn't be allowed, it's poorly edited and it gives no insight whatsoever.

I'm using 0.60.5 on Android and it's working. No warnings.
I'm going to text on iOS later and I'll try to update this.

[2019-08-21 23:43] betoharres commented on #41
Hi @xuepx I'm in the same situation right now, did you ever find out how to do this? I couldn't find any docs about negative numbers and I'm thinking about opening another issue :(

Thanks!
:smile:

[2019-08-22 15:18] igortupini commented on #135
How your test went on iOS? I'm considering upgrading my project to 0.60.5 and I'm checking if my libs are compatible.

[2019-08-22 16:03] betoharres commented on #135
Hi @igortupini the library does not have a podspec, it will throw an error about mask property of undefined.
I’ll try to use react native link to see if it works;

I tried to use a solution posted here on a issue called “Cocoapods support” but I had no luck :( Im too noob with xcode

[2019-08-22 21:30] betoharres commented on #135
`react-native link` did not worked, well I see this library does not support react-native 0.60. I'd like to submit a PR if anyone is willing to help me with some directions. I'm a completely noob in this subject :(

[2019-08-22 22:55] betoharres commented on #135
Hi @ivanzotov , sorry to bother you, would you be able to help us with this? :) Thanks

[2019-08-22 23:18] betoharres commented on #135
after more digging I found this close issue https://github.com/react-native-community/react-native-text-input-mask/issues/130#issuecomment-511185054

This lib was made with swift and auto linking supports only obj-c :(

[2019-08-22 23:26] betoharres commented on #130
Hi @Mikecoon do you have the source about RN 0.60 not being compatible with swift libraries? I can't find some official statement from the RN core team

[2019-08-23 00:09] betoharres commented on #130
I don't think that swift  is the problem here, even though I'm a completely noob on this area I couldn't find a single statement about 0.60+ not being compatible with Swift.

I saw that @kdawgwilk was able to achieve something in his fork, but I couldn't make it work on my machine. Here's his pod spec file in case someone needs it for a starting point:
[code]

He apparently made just a few changes

[2019-08-23 05:28] waqas19921 commented on #135
@betoharres if you add following two lines in header search path
[code]
with mode `recursive`
and change the imports in RNTextInputMask.m from
[code]
to
[code]
It will work with `RN 0.60.5` with manual integration.
Usage with pods will not work as currently the swift code or usage of frameworks is not supported  in `RN 0.60.5`. Need to wait for following pull request to be released.
https://github

[2019-08-23 05:29] waqas19921 commented on #135
I will also create a pull request today if i got time.

[2019-08-23 17:42] russelRajitha commented on #135
where to put this?

[2019-08-23 19:12] betoharres commented on #135
![example](https://i.imgur.com/DcZ10PT.jpg)

I believe it's here, but I still couldn't get it working :(

[2019-08-26 06:40] waqas19921 commented on #135
@betoharres See setup first line for iOS here:
https://github.com/react-native-community/react-native-text-input-mask#setup

That is you have to do following step mentioned in above link

**iOS only**: you have to drag and drop InputMask.framework to Embedded Binaries in General tab of Target

[2019-08-26 07:10] betoharres commented on #135
@waqas19921 Thanks! Somehow I missed it that step! 😄

[2019-08-27 09:27] PetrVasilev commented on #135
I have the same problem =(

[2019-08-29 07:13] kdawgwilk commented on #130
I am pretty sure the directory structure of the project changed and so my podspec is no longer valid with current versions, I also am no longer using this library since I creating my own wrapper around the InputMask libraries

[2019-08-30 08:42] k3ithl1m commented on #73
@frangeris what do you mean by migrating to pods

[2019-08-31 18:42] thomasttvo commented on #117
Yes this did fix it for me

[2019-09-02 01:54] rahsheen commented on #135
[The fix above](https://github.com/react-native-community/react-native-text-input-mask/issues/135#issuecomment-524177774) definitely resolved this long-standing issue for me on RN 0.60.5. Thanks, @waqas19921!

[2019-09-02 07:45] k3ithl1m commented on #135
Am currently using the newest version of react native  0.60.5, but am getting the error
`React/RCTBridge.h file not found`

Did not have this error before upgrading.

Some solution that I tried were:
https://stackoverflow.com/questions/50453883/react-native-build-failed-react-rctbridge-h-file-not-found/50460552

However, the top solution, when I went into manage scheme. There is no React, and it a

[2019-09-02 13:30] Sergioamjr commented on #24
I didn't found any reference to how can I use `mask` and `setMask` out of `react-native-text-input-mask`. Could you share an example, please?

[2019-09-05 14:49] acollazomayer commented on #45
Same here. I am having the same problem. Is working on development but not in production

[2019-09-11 20:02] luiswouters commented on #135
Now that the pull request has been accepted and the changes merged, I updated my module directly from Github and, doing the manual integration + "dragging and dropping InputMask.framework to Embedded Binaries in General tab of Target" worked for me.

[2019-09-12 07:35] webmasterdragon commented on #45
Same here. Any solution?

[2019-09-16 21:31] acollazomayer opened #138 "Is there a way to update the mask dynamically"
Is there a way to update the mask dynamically. I save the mask in the store, but in the rerender the mask does not change

[2019-09-18 07:34] waqas19921 commented on #135
@k3ithl1m If you are upgrading from react-native version less than `0.60` you have to remove manual linking of libraries in iOS project and use pod file and run `pod install` for dependency management.

[2019-09-18 08:10] duduneto commented on #118
If you change line 52 (node_module/react-native-text-input-mask), it's may work.
Like This
`value={this.props.value}`
It's work for me, and I could set a value to my TextInputMask Component

[2019-09-18 09:41] duduneto commented on #118
Actually you could use this

`value={this.props.mask ? this.props.masked : this.props.value}`

This way you will have fewer bugs, if you want maintain the Components that haven't mask

[2019-09-19 10:52] joaovpmamede commented on #135
@waqas19921 when you run `pod install` do you get this warning:
`[!] use_native_modules! skipped the react-native dependency 'react-native-text-input-mask'. No podspec file was found.`?

[2019-09-19 12:36] joaovpmamede commented on #103
@kdawgwilk to use your fork is just a matter of running `pod install`?

[2019-09-19 16:07] ThomasStubbe commented on #135
Is there any update on this? When will React 60+ be supported?

[2019-09-20 08:15] k3ithl1m commented on #135
Hey @waqas19921, I'm not upgrading from a lesser version. I did the manual link but i still seem to get the same error 'React/RCTBridge.h file not found'

I manually installed, it didnt work, so i tried calling pod install. But it is still failing.

Thanks again for working on this. I really appreciate it a lot. Let me know what I could do to help to fix this issue.

[2019-09-24 09:25] obj-dayao opened #139 "Can you upgrade the native library?"
I have a feature that needs the latest native library support。thanks！

[2019-09-25 23:27] spasecadet commented on #135
@waqas19921 version 2.0.0 not available via npm.  Can you please make it a release?

[2019-09-26 06:35] waqas19921 commented on #135
@spasecadet i am not the owner of this package. Only owner can do that.
For `RN 0.60` you can add
`"react-native-text-input-mask": "react-native-community/react-native-text-input-mask",`
in the `package.json` file.
and remaining steps of installation will be that same.

[2019-09-26 12:17] sabun123 commented on #135
Thank you for the PR you made @waqas19921

I'm upgrading from RN 0.59.9 to RN 0.60.5.
This last library is currently the show stopper.

In my package.json, I'm pointing to:
"react-native-text-input-mask": "https://github.com/react-native-community/react-native-text-input-mask#abf0e7f"

I'm pinning it to the commit that merged your PR since I don't want bleeding edge master all the  time.

```yarn

[2019-09-27 17:52] betoharres commented on #135
@sabun123 Thanks a lot for the detailed post, I really appreciate! =] I upgraded to react-native 0.61.1. so do you think that using this version would help me in any way of using this library? They say they fixed `use_frameworks!` CocoaPods support. :thinking:

[2019-09-27 19:40] joaoguilhermee commented on #135
Does someone know another plugin for same propose?

[2019-10-01 12:50] douglaszaltron commented on #135
+1

[2019-10-02 17:45] waqas19921 commented on #135
Everyone please test following pull request code https://github.com/react-native-community/react-native-text-input-mask/pull/140, which includes pods integration.
By running `yarn waqas19921/react-native-text-input-mask`

It is working fine with RN `0.61.1`. Need to verify it with `0.60.*`

[2019-10-02 18:14] chispalex89 commented on #135
i get:

after doing pod install

[2019-10-02 22:04] betoharres commented on #135
@waqas19921 would you mind share why we need to create the `Dummy.swift` file? Can I delete after building successfully? I don't get it :( Thanks!

[2019-10-02 22:07] betoharres commented on #135
Quick Tip for those who wants to install @waqas19921 fork but wants to keep the dependency at the exact commit that he fixed the Pod support. Run the command like this:

`yarn add waqas19921/react-native-text-input-mask#ce7a78f`

`#ce7a78f` is his last commit at this time of writing.

[2019-10-03 00:24] betoharres commented on #135
Hey all, I wanted to confirm that @waqas19921 fork works on iOS, I've followed the instructions and everything worked. The only thing that concerns me is that `Dummy.swift` file hanging in there on Xcode.
I'll test on Android to see if everything is still working, which shouldn't be a problem since iOS was the only one giving trouble.

[2019-10-06 23:10] rahsheen commented on #135
I have switched to [react-native-masked-text](https://github.com/benhurott/react-native-masked-text). It's not perfect, but at least it doesn't prevent us from building/deploying our app.

[2019-10-07 07:35] conectcell commented on #135
GOD bless you, man.
It worked not only for input mask, but for all the libraries without podfiles.
One thing - you have to add this search pass to the library project itself, not for your root project.

[2019-10-07 14:51] shkatulo commented on #135
It works if you link it like this:

`  pod 'react-native-text-input-mask', :path => '../node_modules/react-native-text-input-mask'
  pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'`

[2019-10-10 17:52] waqas19921 commented on #135
@chispalex89 you have to follow the readme file.

[2019-10-10 17:54] waqas19921 commented on #135
@betoharres updated the readme file in #140 . We need `Dummy.swift` as on `RN 0.60` we cannot use `use_frameworks!`. But for any one using `RN 0.60.1` or greater version no need of `Dummy.swift`.
I have mentioned the instructions in readme file in #140 .

[2019-10-10 19:01] betoharres commented on #135
@waqas19921 Thanks for the info! Great work!

[2019-10-11 09:26] wedusa opened #143 "onChangeText works when deleting mask space"
# Bug
onChangeText works when deleting mask space

## Environment info
"react-native": "^0.60.6",
"react-native-text-input-mask": "^1.0.6",

## Steps To Reproduce

1. Type 8 symbols
2. Delete auto space in mask after eighth symbol and get onChangeText function
3. Delete eighth symbol, get onChangeText function again

## Describe what you expected to happen:

1. After deleting space in mask do noth

[2019-10-11 09:39] #143 closed

[2019-10-13 22:18] midoalone commented on #135
@waqas19921 Thanks, your fork working great, hope the original library get updated soon.

[2019-10-16 02:26] waqas19921 commented on #139
I will work on that.

[2019-10-17 23:42] alexalannunes opened #144 "Merge with other textInput component"
# Feature Request

I would like (or maybe others devs :] ) that this component has floating label (material) or I can merge with a component that apply material floating label with this component (input-mask)

[code]

[2019-10-19 17:42] iagorm commented on #144
@alexalannunes, this library only wrap the TextInput and manage the value of it, if you want a floating label or any UI change, you should create your own component and manage focus/blur states.

[2019-10-20 13:16] iagorm commented on #135
@waqas19921 using your fork, I got an error while running the command `pod install`:
[code]

[2019-10-20 13:25] iagorm commented on #135
@waqas19921 by using and following the readme of your fork the build worked! great work!

[2019-10-20 22:25] gabeDevlift commented on #135
@waqas19921 How do I use your pull request? I've never done that before. Like, how do I pull and get it?

[2019-10-22 00:12] alexalannunes commented on #144
Thanks @iagorm

[2019-10-22 00:12] #144 closed

[2019-10-24 00:46] mikedemarais commented on #135
@gabeDevlift

hey!
just change your `react-native-text-input-mask` entry in `package.json` to
[code]

you can read more about all the things you can do inside `package.json` here: https://docs.npmjs.com/files/package.json#dependencies

[2019-10-24 12:06] makarkotlov opened #145 "Build Failed on iOS - "React/RCTBridge.h file not found""
I completely followed the readme. Firstly I got confused when I found there is `InputMask.framework` and `InputMaskMac.framework` which is missed on the screenshot in readme.
![Снимок экрана 2019-10-24 в 14 54 18](https://user-images.githubusercontent.com/32848434/67483602-d01e6880-f66e-11e9-8f64-b7928da5512d.png)
Then I put `InputMask.framework` in Embedded and turned `Always Embed Swift Standard

[2019-10-29 05:40] waqas19921 commented on #135
@blueberry6401 Please also add `use_frameworks!` in pod file.
And make sure you have followed the instructions from https://github.com/waqas19921/react-native-text-input-mask/blob/master/README.md

[2019-10-29 16:28] Daniyal857 commented on #21
I'm also facing the same issue.
version I used:
"react-native-text-input-mask": "^1.0.6",
"react-native": "0.60.5",

`<TextInputMask
                                            refInput={ref => { this.input = ref }}
                                            value={this.state.phone}
                                            onChangeText={(formatted, extracted) => this.setState({phone : extracte

[2019-10-29 23:00] amitassaraf commented on #145
Same here :(

[2019-10-30 01:35] blueberry6401 commented on #135
Adding use_frameworks! creates some build error that I don't remember exactly, but after time struggling I made this worked!

[2019-10-30 20:22] igor-budzin commented on #145
What did you use instead react-native-text-input-mask? Maybe do you know another library with the same functionality and support React Native 0.60+?

[2019-10-30 20:23] blueberry6401 commented on #145
If you want to use this library on RN 0.60+, read this topic https://github.com/react-native-community/react-native-text-input-mask/issues/135

[2019-11-04 10:42] sera2007 opened #146 "Mask for specific letters"
# Question

Hi guys, thanks for your lib, I want to find the solution on how to use it for the custom mask for specific letters? In my case, I want to validate Mac address, which consists of the digits + letters (a - f) so, **is there any way to specify the letters - a, b, c, d, f only?**

[2019-11-20 11:36] makarkotlov commented on #145
Thank you! I have it working following this PR #140 . We certainly need it merged

[2019-12-03 10:49] arthedza commented on #90
@cesargdm I think this information should be placed in the 'Usage' section of Readme.

[2019-12-03 14:19] arthedza opened #147 "Dimension units input mask (%, ml, etc.)"
# Feature Request

## Why it is needed

It will be very useful for dimension units input masking.
At present we have only the price input masking. I've tried to use this, but a dimension unit suffix wasn't displayed until all digits were entered even if the mask has optional digits. It looks like the mask doesn't work with suffixes at all.
For example:
`$ [90]{.}[90]` -- works pretty nice,
`[90]{.

[2019-12-05 18:05] hkolsen commented on #46
Any progress on this?

[2019-12-10 08:15] karmil32 commented on #135
Now i get error while compiling on iOS.

`The 'Pods-AppName' target has transitive dependencies that include static binaries: (/AppPath/ios/Pods/Crashlytics/iOS/Crashlytics.framework and /AppPath/ios/Pods/Fabric/iOS/Fabric.framework)`

I know that's related to Crashlytics but don't how to fix it.

[2019-12-16 14:46] bataevvlad opened #148 "Customized phone input mask."
I have a phone input, I want to allow the user to enter any length of number and to be able to enter any characters anywhere in the input using a mask, is it possible? Thank you in advance!

Found that we can use elliptical mask, but symbols for example (+/#/*) when we using phone-pad are not working.

[2019-12-17 22:15] retyui commented on #31
I think we should add a human readable message like AsyncStorage:

https://github.com/react-native-community/async-storage/blob/9aad474ff7ca64d34ef94358a39205a609455aca/lib/AsyncStorage.js#L21-L38

https://github.com/react-native-community/async-storage/blob/LEGACY/docs/Jest-integration.md

[2020-01-04 04:10] arisferyanto commented on #135
@karmil32 I'm using RN `0.61.5`, but I followed the instruction "For RN = 0.60.*" and it is working fine for me. No need to use `use_frameworks!`.

[2020-01-15 20:14] performatric commented on #138
Hello, is there any workaround?

[2020-01-18 23:38] retyui opened #150 "[Android] FATAL EXCEPTION: IndexOutOfBoundsException"
# Bug

[code]

## Environment info

React native info output:

[code]

Library version: 2.0.0

## Steps To Reproduce

1. create a new app `react-native init bugRNTIM`
2. Update an App.js file (see `Reproducible sample code`)
3. Fill the text input

![image](https://user-images.githubusercontent.com/4661784/72671979-0861f700-3a64-11ea-8a0a-5f2cefcac50e.png)

4. Then press a 'setMask' button to set

[2020-01-18 23:48] retyui commented on #150
Fixed in https://github.com/react-native-community/react-native-text-input-mask/pull/149/commits/c5df7495514c1e19bcd0e05295e2fddf88ebd616

[2020-01-21 13:03] guilherme-ramalho commented on #51
Any progress on that?

[2020-01-23 20:38] JuanSeBestia commented on #145
Solved :)

[2020-01-23 21:14] JuanSeBestia opened #151 "(iOS) Cut inside input doesn't work"
# Bug
When try to cut something masked it doesn't work
See te video:
[https://github.com/JuanSeBestia/example-react-native/raw/master/public/ezgif.com-video-to-gif.mov](https://github.com/JuanSeBestia/example-react-native/raw/master/public/ezgif.com-video-to-gif.mov)

## Environment info
React native info output:

[code]

Library version: ^2.0.0

## Steps To Reproduce
1. Write something inside of

[2020-01-23 21:15] JuanSeBestia commented on #151
In android work as expected

[2020-01-23 21:29] JuanSeBestia commented on #151
Tested on iOS 13.3 and iOS 12.2

[2020-01-24 15:22] JuanSeBestia commented on #151
https://github.com/RedMadRobot/input-mask-ios/issues/28

[2020-02-03 18:16] fgagneten opened #152 "IOS build failed 'Undefined symbols for architecture x86_64' #387"
I upgraded to version 2.0.0 because of the following error: https://github.com/react-native-community/react-native-text-input-mask/pull/140

After that, I started to get the following error:

![image](https://user-images.githubusercontent.com/14353978/74176759-1a742700-4c17-11ea-8be3-87e9d4dffe79.png)

![image](https://user-images.githubusercontent.com/14353978/73678551-5e0ae600-4697-11ea-8b3f-9fe

[2020-02-09 11:23] cnrsbtogll commented on #133
* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn more at: https://fb.me/react-derived-state
* Rename componentWillReceiveProps to UNSAFE_componentWillReceiveProps to suppress this warning in non-strict mode. In React 17.x, only the

[2020-02-10 18:10] fgagneten commented on #152
Someone found any solution for this?

[2020-02-11 14:48] hardywu commented on #152
Same here.

[2020-02-13 16:12] ElizavetaDevel commented on #152
the same issue

[2020-02-13 23:06] francozini2 commented on #152
Please fix this issue I have the same issue!

[2020-02-14 11:23] ElizavetaDevel commented on #152
I found solution, add duumy.swift file with bridging header to your ios project (it is described in readme)

[2020-02-15 08:50] nihp opened #153 "'RCTBaseTextInputView.h' file not found"
I ran into issue while building my app using this package.

[code]

I have used manual linking for this . https://www.npmjs.com/package/react-native-text-input-mask#ios-2

Anyone have solution.

Here I tried with
1. rm -rf node_modules
2. Clean the build folder
3. Close xcode
4. Re-run the app

Still facing the same issue.

[2020-02-24 19:35] johhansantana commented on #135
I am getting a `framework not found InputMask` after following the instructions for 0.60.*

Should I use @waqas19921 repository or use this one since I see the instructions are the same on both.

I'm currently using
```"react-native-text-input-mask": "2.0.0"```

[2020-02-25 01:04] panda919 commented on #153
Honest, It is very dirty plugin.
I have been used this plugin in 2 years, and try to me best to keep it.
But this plugin has fatal ios issue, and they can not fix it yet.
I recommend to use https://github.com/benhurott/react-native-masked-text.

[2020-03-03 20:48] nikbelikov commented on #119
no hope

[2020-03-11 10:36] Tohid1999 commented on #138
i update Mask by useState and its work

[2020-03-20 09:29] hjodr commented on #3
Have the same problem in v 2.0.0
Can I fix it somehow?

[2020-03-27 21:34] giregk opened #154 "Support Windows platform"
# Feature Request
I would love this module to work with react-native-windows (0.61+).

I've tried to build a simple version of it following their documentation, but I'm not skilled enough in C# or C++ to do it. (But I'd be very glad to help if someone helps me get started).

[2020-03-30 20:43] wesleyschneider commented on #76
Hi, I have the same problem. Have you found a solution?

[2020-03-31 20:16] AlexandrDobrovolskiy commented on #3
Same issue

[2020-04-01 01:45] betoharres opened #155 "Drop requirement of `use_frameworks!` for v0.62"
# Feature Request
`react-native` v0.62 introduces Flipper as tool for debugging. But Flipper won't work if you have `use_frameworks!` in your `Podfile`([source](https://raw.githubusercontent.com/react-native-community/rn-diff-purge/release/0.62.0/RnDiffApp/ios/Podfile)).

## Why it is needed
To cope with `react-native` upgrades and output better development experience while using this library.

##

[2020-04-01 12:06] AlexandrDobrovolskiy commented on #138
I'm updating my mask with state and it causes onBlur and onEndEditing to stop working

[2020-04-06 16:15] rafael-camara commented on #133
I also get the same answer

I also get the same answer, but I decided following the guidelines at: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#gradual-migration-path

topic:

- **16.3:** Introduce aliases for the unsafe lifecycles, `UNSAFE_componentWillMount`, `UNSAFE_componentWillReceiveProps`, and `UNSAFE_componentWillUpdate`. (Both the old lifecycle names and the new alia

[2020-04-10 08:56] danghung24031992 commented on #152
Thank bro

[2020-04-10 09:41] danghung24031992 opened #156 "RN 0.61.5 null is not a object"
I try install but not done   . Pls support for me.thanks
![Simulator Screen Shot - iPhone 8 - 2020-04-10 at 16 39 05](https://user-images.githubusercontent.com/9923258/78981344-edc28a00-7b49-11ea-88c5-c2d450dcaa83.png)

[2020-04-15 17:56] tugzera commented on #156
Same here!!!

[2020-04-17 01:32] samuelcp commented on #156
I tried add the following to `PodFile` and it works

[code]

[2020-04-17 02:53] jonatasnardi commented on #135
In react-native 0.62 I just added this line below to Podfile and ran `pod install`:

`pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'`

And now it works for me :)

[2020-04-18 18:52] tugzera commented on #156
@samuelcp Updated my packange and change on pod.. Then works !! THx

[2020-04-20 12:41] Desteel opened #157 "Incorrect mask behavior when entering a number that is present in the mask"
Hello. I encountered strange behavior of the mask when entering the numbers present in the mask.
Steps:

1. Use mask `+n ([000]) [000] [0000]` (example `+1 ([000]) [000] [0000]`)
2. Enter number "n"
Result: numbers "eat" each other.

I managed to reduce this effect to some extent by introducing a local state for value
[code]

But in any case when the field is completely cleared and the new input i

[2020-04-23 20:09] MateusCastro commented on #62
The defaultValeu works like the value, there it works when clearing the state kkkkk

[2020-04-28 20:47] secodigo opened #158 "please change to function"
please change to function, instead of class, is generating warning
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

[2020-04-29 09:26] nutrimax1987 commented on #156
omg , library so small and so much issues .

[2020-05-02 02:01] cKurultayKalkan commented on #152
@ElizavetaDevel Thank You!

[2020-05-04 23:27] IgorDePaula commented on #135
I tryed with 61.5 and given error compilation

[2020-05-06 14:24] jairolima commented on #156
Same here

[2020-05-20 08:53] Yigityakut commented on #123
I was really happy when I read this comment but it keeps giving the same error.

[2020-05-24 01:18] linbo8303 commented on #135
Same issue with error compilation in 0.62 unless adding Dummy.swift file

[2020-05-28 13:31] zahramemar commented on #76
Did you find any answer? I have same question

[2020-05-28 15:09] alexmngn opened #159 "Backspace not properly removing characters on both iOS and Android"
# Bug report

## Summary

I've just added this module to my project in order to support masks.
However, I've noticed an issue when I use the backspace on both iOS and Android that the character is not properly erased.
I'm not sure the issue is due to this library or due to the RedMadRobot/input-mask library.

I do reproduce this issue on both iOS and Android.

This is a screen recording of the iss

[2020-05-28 15:42] #159 closed

[2020-05-28 17:25] soueverest commented on #135
I'm using 0.60.4 and I still can't. I've tried almost everything that I could found. Any ideas?

[2020-05-29 02:01] betoharres commented on #135
setup a new project with this library, it will help ypu identify your problem

Sent from my iPhone

[2020-06-02 12:26] ps0305 commented on #159
@alexmngn : have you found the fix for the issue?

[2020-06-02 14:30] andymurakami opened #161 "Unable to find a specification for `RNInputMask` depended upon by `react-native-text-input-mask`"
When i try  pod install this error returns

[!] Unable to find a specification for `RNInputMask` depended upon by `react-native-text-input-mask`

You have either:
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podfile.

[2020-06-02 14:36] andymurakami commented on #161
To resolve this:

add in podfile

pod 'react-native-text-input-mask', :path => '../node_modules/react-native-text-input-mask'
pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'

[2020-06-02 14:36] #161 closed

[2020-06-02 15:48] raza2022 opened #162 "Prefilled value with disabled input"
How can i make a disbaled input with prefilled value, I search the doc, also tried with `{disabled: true}` but not working, I am wondring how can I achive it with this library

[2020-06-02 15:55] raza2022 commented on #33
@llvc I am trying the same and I don't want to update it, how do you achive the disabled/not editable input?

[2020-06-02 16:27] raza2022 commented on #162
feeling stupid, but letting it as reference if any other react-native noob like me, it's can be achived with `editable={false}` in react native

[2020-06-04 06:50] betoharres commented on #155
I don't think so :(

[2020-06-04 11:49] ElliDy commented on #133
@iagormoraes can you please mention it here, if you have finished the merge request [142](https://github.com/react-native-community/react-native-text-input-mask/pull/142)

[2020-06-16 09:15] lucky-xiaohu commented on #155
It is really a problem

[2020-06-18 01:54] jmargenberg commented on #159
@alexmngn I've also encountered this issue. If you've found a fix could you please share it?

[2020-06-18 13:11] walterholohan commented on #155
A big problem. A lot of react-native projects don't need to include `useFrameworks!` anymore making this library incompatible with any projects that do not.

[2020-06-23 13:25] walterholohan commented on #155
@betoharres I just installed this library in my RN project running 0.62 and did not need to include `useFrameworks!`. However, the library did not auto-link so I had to manually add `pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'` to my podfile.

[2020-06-23 13:26] walterholohan commented on #158
https://github.com/react-native-community/react-native-text-input-mask/pull/141 should solve this warning however there seems to be no-one with write access to merge the changes.

[2020-06-23 13:52] betoharres commented on #155
@walterholohan thanks for that info! Is the basic functionalities working properly?
If yes, I'll try to upgrade my current project to 0.62 now =]

[2020-06-23 13:58] walterholohan commented on #155
Yep I managed to get a text input with the following mask working - `mask="[000]-[000]"`

[2020-06-24 13:43] kolkol69 commented on #125
maybe you can try comparing length with the unmasked value?
smth like:

[code]

[2020-06-25 18:20] aneem commented on #159
This issue seem to occur when the formatted text as value instead of actual text.

As specified in the documentation, the library returns two values on `onChangeText` function.
[code]
When using the `extracted` value, this issue doesnt occur for both ios and android.

**Example Code**
[code]

[2020-07-01 12:29] kolkol69 commented on #113
same here

trying different masks: '[000]', '[AAA]', etc

[2020-07-07 12:20] kolkol69 opened #163 "Cannot use '[A...]' mask, app is crashing"
# Bug report

## Summary
The app is crashing as soon as I open a screen with '[A...]' mask in it
In Xcode console I'm getting this:
[code]

## Environment info

`react-native info` output:

[code]

Library version: 2.0.0

## Steps to reproduce

1. Try using '[A...]' as a mask input

Describe what you expected to happen:

1. The app shouldn't crash
2. Mask works as expected allowing user to enter o

[2020-07-08 10:57] gothraven opened #164 "Mask for a x number of digits"
# Question

I would like to have a mask to handle [000] and [00] in the same time,
example:
[code]
[code]
[code]
[code]

its like having a mask that looks like `[00] | [000] km` if it was a regexp 😄

[2020-07-08 11:01] gothraven commented on #164
The answer is `[009]` but I guess I have found an issue

[code]
[code]

why it doesn't show the `km` on the `12` and it only show it on the `123`

[2020-07-08 12:07] gothraven opened #165 "Input doesn't show the rest of the result with option digit"
# Bug report

## Summary

With a mask like '[009] cm', the input never shows the end if you just type 2 digits and stop

## Environment info

`react-native info` output:

[code]

Library version: 2.0.0

## Steps to reproduce

1. type: 12
2. result: 12

Describe what you expected to happen:

1. type: 12 and a space
2. result: 12 km

## Reproducible sample code

[code]

[2020-07-08 12:08] #164 closed

[2020-07-09 13:55] NeerajNegi commented on #159
What if we want to store the formatted text. If this is the case then it won't work with the current way. Is there any fix to use formatted text in both input and state?

[2020-07-14 23:04] bruxalldev commented on #133
Hi any update on this being released? many thanks

[2020-07-15 07:14] asfaarahmed commented on #159
import React, { Component, useContext } from 'react';
import TextInputMask from 'react-native-text-input-mask';

export default function testClass() {
     const [valueE, setValueE] = React.useState("")
     const [valueF, setValueF] = React.useState("")

 <TextInputMask
	refInput={ref => { this.input = ref }}
     	onChangeText={(formatted, extracted) => {
       		setValueE(extracted);

[2020-07-15 09:35] NeerajNegi commented on #159
It can be done as @asfaarahmed suggested but it's a workaround and not a fix. I think fixing the backspace issue for formatted value is the best way.

[2020-07-19 03:00] likewagon commented on #135
I am using Xcode 11.6 and react-native-text-input-mask:2.0.0
It works well on simulator and real iPhone.
but when I plugged new iPhone (iOS 13.6), I got error.

RNInputMask modulemap not found

[2020-07-21 09:50] gthrm commented on #87
It doesn't seem to work with functional components. How to use this with useRef?

[2020-07-22 11:52] iagormoraes commented on #135
try to install the package from my repository:

"react-native-text-input-mask" :"https://github.com/iagormoraes/react-native-text-input-mask"

[2020-07-23 08:19] karanmartian commented on #156
Same issue, not working on Android.

[2020-07-23 22:06] #145 closed

[2020-07-23 22:07] makarkotlov commented on #145
solved

[2020-07-30 12:36] DivinoMatheus opened #167 "Swift Compiler Error: Missing required module 'Combine'"
Someone can help me with this?

I'm using xcode 10.1 with SWIFT 5 by hacking xcode like in [this tutorial](https://learningswift.brightdigit.com/swift-5-0-xcode-10-1/)

I cannot update the xcode because the lastest supported version of macOS in my computer is 10.13.6 and i need to use version 10.14.3 or later to xcode 10.2 be compatible.

![image](https://user-images.githubusercontent.com/27539713

[2020-07-31 03:22] kjmendoza commented on #133
Hey, everybody, any idea when the update on this case is coming out?

[2020-07-31 07:05] bruxalldev commented on #133
The project maintainers are really busy - and you know they are doing this for free - final releases needs the core team to make sure it’s all good.

But I too am waiting on this so I've just created a local version and updated it with the fixes in the commit - index.js.

In a nutshell.. create a folder in your app - called node-modules-local

Download the repository into this folder

Update the i

[2020-08-03 16:24] iagormoraes commented on #133
Guys for the temporary fix use my branch as package source on package.json:

`
"react-native-text-input-mask": "https://github.com/iagormoraes/react-native-text-input-mask"
`

[2020-08-04 08:26] ArkaneKhan commented on #73
adding this on build settings tab on header search path solved my problem
$(SRCROOT)/../node_modules/react-native-text-input-mask/ios

[2020-08-09 01:44] betoharres commented on #155
Closing this issue since I just tested myself in `v0.63.2` and it successfully build for ios by adding `pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'` to `Podfile`

[2020-08-09 01:44] #155 closed

[2020-08-11 19:01] CarlosDanielDev opened #168 "Two kind of Mask in One Input"
# Feature request

This feature will help us to put 2 kind of mask in one input, fpor example, email or phone number.

## Why it is needed

If I has just one field to put information about the user, I'd like to give him a choice, choose email or phone number ?

## Possible implementation

On mask prop will receive 2 positions in a array, if him type a number, apply the mask of phone number, if him

[2020-08-19 12:31] kjqtech opened #169 "setSpan (4...4) ends beyond length 1"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

1. …
2. …

Describe what you expected to happen:

1. …
2. …

## Reproducible sample code

[2020-09-04 16:11] rodrigofbm opened #170 "Please update the following components: %s TextInputMask"
# Bug report

## Environment info

`react-native info` output:

[code]

Library version: 2.0.0

## Error
[code]

[2020-09-04 17:41] SrBrahma commented on #133
Still hapening

[2020-09-09 17:08] andraderaul commented on #133
Hello, any updates for this issue?

[2020-09-09 17:53] ankorGH commented on #133
@andraderaul  #141  is not released.
Sharing my current solution till it is released.
1.
[code]
2. Update package.json
[code]
3. Create a folder called `patches` and inside it create a file called `react-native-text-input-mask+2.0.0.patch`
4. Place the code below
[code]
5. run `yarn`

[2020-09-24 21:06] IgorMing commented on #156
Me too! Same issue.
That's working on iOS, but not working on Android.

[2020-09-25 12:55] Gentlee opened #171 "How to disable mask?"
I have type='custom' and mask, and i want to be able to disable this mask.

What prop should i pass to this buggy piece of component?

Thank you!

PS. `mask: undefined` leads to crash.

[2020-09-26 18:20] Escalion86 commented on #156
Same issue on Android =(

[2020-09-28 01:06] hengkx commented on #87
+1

[2020-10-03 12:54] diegormb06 commented on #171
I do this: create a wrap for the input, pass mask (or don't) and verify if it has mask.
`
const Input = props.mask ? <TextInputMask /> : <DefaultTextInput>;
`

them return input;

[2020-10-07 14:35] badkos commented on #171
Just don't pass a `mask` prop.

[2020-10-07 14:46] badkos commented on #163
There is a peculiarity in dot symbols. You should use an unicode ellipsis character `\u2026` instead of simple `...`.
So, just set mask as `'[A\u2026]'`

[2020-10-09 01:18] joseluismurillorios opened #173 "Not working on modal"
# Bug report
10-08 17:37:04.169 27705 27705 E AndroidRuntime: FATAL EXCEPTION: main
10-08 17:37:04.169 27705 27705 E AndroidRuntime: Process: com.pospaypointapp.real, PID: 27705
10-08 17:37:04.169 27705 27705 E AndroidRuntime: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
10-08 17:37:04.169 27705 27705 E AndroidRuntime:        at com.android.internal.os.ZygoteInit.main(Zy

[2020-10-16 20:27] vrinch commented on #76
you can use react-number-format

it works well, see below

[code]

[2020-10-24 06:53] Seaghan-dev commented on #156
Any updates on this issue? I'm also facing this problem in android :(

[2020-10-29 00:48] leovieira commented on #156
Still does not work!

[2020-10-29 04:45] azhaubassar commented on #170
I have same issue:(

[2020-10-29 15:16] leiyuanyi commented on #153
![image](https://user-images.githubusercontent.com/12016806/97593363-95e36600-1a3c-11eb-9dfb-d85e61ccb60f.png)
Try to update your bulid config

[2020-11-24 11:42] humbertoromanojr commented on #170
Me too, have same issue.  :-|

[2020-11-30 17:31] ignaciolopez12 commented on #87
not work

[2020-12-01 04:53] shiroze opened #175 "App Crash After install Dependencies"
Android App crash after add / install dependencies `yarn add` and `npm install`
[code]

Any solution ?

[2020-12-03 01:25] Navipro70 commented on #175
Did you add this lines to your Podfile after `target ${YourAppName} do` ?

[code]

If not, you should add them and then run `pod install`

If you have big error after pods installation, try remove line `use_frameworks!`

After this you should restart your simulator.

[2020-12-03 01:43] shiroze commented on #175
this problem on Android

[2020-12-03 03:55] faravinicius commented on #170
Me too, have same issue. :-|

[2020-12-03 10:04] Navipro70 commented on #175
I have same versions of dependencies and all works perfect.

1. Can you provide additional information please (from your terminal maybe)?
2. Try clear cache `cd android && ./gradlew clean`
3. Are you sure that problem exist in this library?

[2020-12-04 04:19] shiroze commented on #175
gradlew clean solve the problem thank you.

[2020-12-04 04:19] #175 closed

[2020-12-14 21:13] jeancatarina opened #176 "[Feature] RightToLeft prop missing"
Hello, the library input-mask-ios and input-mask-android has created a prop to be able to type from right to left. Do you have any prediction of when it will be implemented here?

- https://github.com/RedMadRobot/input-mask-ios/wiki/2.2-Right-to-Left-&-Digit-Grouping
- https://github.com/RedMadRobot/input-mask-ios/wiki/2.-Text-Field-Listener

[2020-12-17 08:40] JayantJoseph opened #177 "value prop is not working, cant give initial value"
I couldn't give a default value to the text input, using the "value" prop. When I checked seems like some problem with your source code. Check this PR.

https://github.com/react-native-text-input-mask/react-native-text-input-mask/pull/160

[2020-12-17 08:44] #177 closed

[2021-01-04 09:16] vasylnahuliak commented on #87
@gthrm @hengkx @ignaciolopez12

Work with useRef:
` emailFieldRef?.current?.input?.focus();`

[2021-01-04 23:11] SelectSoft opened #178 "componentDidUpdate"
Please publish the new changes to npm. it has still old code.

[2021-01-09 02:53] AnnaCarolinaWGC opened #179 "Space and special characters"
Hello!
I'd like to know if there's a way of allowing the user to put characters like @!#>< on the input camp at his own deliberation. I've tried using [-----] or [_____] like the input-mask-android link recommended, but to no results yet.
If anyone knows if it's possible (and how), i'd like to know!
Thank you!

[2021-01-11 13:41] AnnaCarolinaWGC commented on #20
i still get the same non-null error....

[2021-01-21 09:15] max-kim commented on #87
Works for me. See my code below:
`
const phoneInput = useRef(null);

const onSubmitEmailInput = useCallback(() => {
    phoneInput.current?.input.focus();
  }, []);

return (
  <>
    <TextInput
      onSubmitEditing={onSubmitEmailInput}
    />
    <TextInputMask
      ref={phoneInput}
      mask={'([000]) [000] [00] [00]'}
      returnKeyType={'done'}
      blurOnSubmit={true}
    />
  </>
);
`

[2021-01-21 09:25] AlphaJuliettOmega commented on #176
Yes please, is it possible to type a number RTL (like normal monetary inputs) without this feature?

[2021-01-28 23:13] spmorr01 opened #182 "Is there a way to check if the mask has been satisfied?"
Combing through the documentation/wiki on the link iOS project, it appears that there is a delegate for 'didFillMandatoryCharacters'. Is there something likewise to take an advantage of in the react native side of things?

Example: [9000] - Once I add 3 digits, is there something to tell me that they have satisfied the required amount of digits?

[2021-02-02 04:33] betoharres commented on #170
This library is using 4.1.0, and the latest version is 6.0.0
https://github.com/RedMadRobot/input-mask-android/releases
https://github.com/react-native-text-input-mask/react-native-text-input-mask/blob/master/android/build.gradle#L29

I already tried to update the version number but android build fails with this message:
[code]
if you downgrade to 4.0.0 it works for some reason

[2021-02-17 06:44] SrBrahma opened #183 "[Android] Characters are duplicating on production env sometimes"

[2021-02-19 14:01] dragma commented on #155
Sorry for digging out this old reply, but I'm facing some annoying issues with RN 0.63.4
I obviously wrote that line in the podfile file, but without any success on iOS build (Debug or Release).

[code]

Does this errors rings any bells ? :)

[2021-02-24 12:20] yanakievv commented on #167
Did you fix it? Got the same problem here.

[2021-03-01 00:42] martintreurnicht commented on #183
@SrBrahma Can you verify that this is still happening on [v3](https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.0)? If not, please close this issue.

[2021-03-01 00:50] martintreurnicht commented on #182
@spmorr01 Most of the heavy lifting is happening in https://github.com/RedMadRobot/input-mask-ios. This is simply a `react-native` wrapper around that library. What you're talking about sounds more like validation to me anyway, for that i'd recommend using something like https://github.com/formium/formik. Or you could simply evaluate the values returned in `onChangeText` and manually check that it

[2021-03-01 00:50] #182 closed

[2021-03-01 00:53] martintreurnicht commented on #179
This is simply a wrapper around https://github.com/RedMadRobot/input-mask-ios and https://github.com/RedMadRobot/input-mask-android, if you have questions about the inner workings, i'd recommend contacting the original authors over at https://github.com/RedMadRobot. Alternatively, you are welcome to submit a PR

[2021-03-01 00:53] #179 closed

[2021-03-01 00:54] martintreurnicht commented on #14
This should be fixed in [V3](https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.0)

[2021-03-01 00:54] #14 closed

[2021-03-01 00:55] martintreurnicht commented on #15
Not enough information

[2021-03-01 00:55] #15 closed

[2021-03-01 00:57] martintreurnicht commented on #17
This is a common pattern that you would need to use with all native modules and is not specific to this project

[2021-03-01 00:57] #17 closed

[2021-03-01 00:57] martintreurnicht commented on #21
This should be fixed in [v3](https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.0)

[2021-03-01 00:57] #21 closed

[2021-03-01 00:58] #25 closed

[2021-03-01 00:59] #30 closed

[2021-03-01 01:12] martintreurnicht commented on #31
Addressed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/pull/184

[2021-03-01 01:12] #31 closed

[2021-03-01 01:14] martintreurnicht commented on #33
This should be working now, please try the latest version

[2021-03-01 01:14] #33 closed

[2021-03-01 01:14] #37 closed

[2021-03-01 01:15] #40 closed

[2021-03-01 01:16] martintreurnicht commented on #41
For usage, please see https://github.com/RedMadRobot/input-mask-android and https://github.com/RedMadRobot/input-mask-ios

[2021-03-01 01:16] #41 closed

[2021-03-01 01:17] martintreurnicht commented on #42
This should be working in the latest version

[2021-03-01 01:17] #42 closed

[2021-03-01 01:18] #44 closed

[2021-03-01 01:19] #135 closed

[2021-03-01 01:20] #46 closed

[2021-03-01 01:21] #134 closed

[2021-03-01 01:22] martintreurnicht commented on #48
Should be fixed in latest version

[2021-03-01 01:22] #48 closed

[2021-03-01 01:23] #51 closed

[2021-03-01 01:24] #52 closed

[2021-03-01 01:24] #54 closed

[2021-03-01 01:24] martintreurnicht commented on #59
should be working in latest version

[2021-03-01 01:24] #59 closed

[2021-03-01 01:25] #62 closed

[2021-03-01 01:26] #69 closed

[2021-03-01 01:27] #70 closed

[2021-03-01 01:28] #73 closed

[2021-03-01 01:28] #103 closed

[2021-03-01 01:29] #76 closed

[2021-03-01 01:29] #80 closed

[2021-03-01 01:30] #82 closed

[2021-03-01 01:30] #133 closed

[2021-03-01 01:30] #83 closed

[2021-03-01 01:31] #86 closed

[2021-03-01 01:31] #88 closed

[2021-03-01 01:32] #89 closed

[2021-03-01 01:32] #94 closed

[2021-03-01 01:33] martintreurnicht commented on #98
This should be working on latest version, if not please feel free to open a new issue

[2021-03-01 01:33] #98 closed

[2021-03-01 01:33] #100 closed

[2021-03-01 01:34] #111 closed

[2021-03-01 01:34] #112 closed

[2021-03-01 01:35] #113 closed

[2021-03-01 01:35] #114 closed

[2021-03-01 01:35] #118 closed

[2021-03-01 01:36] martintreurnicht commented on #119
Try the latest version, should be working

[2021-03-01 01:36] #119 closed

[2021-03-01 01:36] #121 closed

[2021-03-01 01:37] #124 closed

[2021-03-01 01:37] #125 closed

[2021-03-01 01:38] #126 closed

[2021-03-01 01:38] #132 closed

[2021-03-01 01:38] #138 closed

[2021-03-01 01:39] #139 closed

[2021-03-01 01:39] #146 closed

[2021-03-01 01:39] #147 closed

[2021-03-01 01:39] #148 closed

[2021-03-01 01:40] #150 closed

[2021-03-01 01:40] #151 closed

[2021-03-01 01:41] martintreurnicht commented on #152
This issue should no longer exist

[2021-03-01 01:41] #152 closed

[2021-03-01 01:42] #153 closed

[2021-03-01 01:44] martintreurnicht commented on #154
I'd recommend reaching out to https://github.com/RedMadRobot/. This is a simple wrapper, if they supported the native platform, we could add RN support pretty easily

[2021-03-01 01:44] #154 closed

[2021-03-01 01:45] martintreurnicht commented on #156
Should be working, p;lease try the latest version

[2021-03-01 01:45] #156 closed

[2021-03-01 01:46] martintreurnicht commented on #157
Please try the latest version, if the issue is still happening, feel free to re-open

[2021-03-01 01:46] #157 closed

[2021-03-01 01:46] #158 closed

[2021-03-01 01:46] #163 closed

[2021-03-01 01:47] #165 closed

[2021-03-01 01:48] #167 closed

[2021-03-01 01:49] martintreurnicht commented on #168
Native libraries does support multiple masks, happy to support the feature if you want to put a PR together

[2021-03-01 01:49] #168 closed

[2021-03-01 01:49] #169 closed

[2021-03-01 01:50] martintreurnicht commented on #170
Please use latest version

[2021-03-01 01:50] #170 closed

[2021-03-01 01:51] #171 closed

[2021-03-01 01:52] martintreurnicht commented on #173
My guess is `onChange` should be `onChangeText`

[2021-03-01 01:52] #173 closed

[2021-03-01 01:53] martintreurnicht commented on #176
You are welcome to submit a PR for this feature.

[2021-03-01 01:53] martintreurnicht commented on #178
Please check out latest version

[2021-03-01 01:53] #178 closed

[2021-03-01 08:18] gothraven commented on #165
@martintreurnicht Closing the issue means that the problem is fixed ?

[2021-03-01 13:57] metion opened #185 "Android and ios Not Working"
[Mon Mar 01 2021 17:55:24.694]  ERROR    TypeError: null is not an object (evaluating 'RNTextInputMask.mask')
[Mon Mar 01 2021 17:55:24.695]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)
[Mon Mar 01 2021 17:55:24.695]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)

[2021-03-01 15:24] martintreurnicht commented on #165
No, I'm clearing out all old issues. Some of these might be fixed, there has been lots of changes since this issue was created. If the issue still persists, you are welcome to reopen

[2021-03-01 16:05] gothraven commented on #165
Okay, thank you !

[2021-03-01 20:03] fatmali commented on #185
I can't even install it from npm, too many type errors.

[2021-03-01 22:25] SrBrahma commented on #183
Ok. Will soon update my app with it, and when live I will test it. I ain't sure if it would happen on "react-native run-android --variant=release", but on real prod it was happening.

In up a week I will update the status here.

[2021-03-02 03:12] Bilal-Abdeen commented on #185
1. I suggest changing the issue title to "TypeError: null is not an object (evaluating 'RNTextInputMask.mask')"
2. I tried the following to reset and rebuild the app. It did NOT work.
[code]

[2021-03-02 10:29] danish-blueeast opened #186 "Installation Issue"
## Description
getting error on `yarn add react-native-text-input-mask`. Other packages installing perfectly.

## Screenshots :

![Screenshot from 2021-03-02 15-26-51](https://user-images.githubusercontent.com/76940604/109635072-c6aee580-7b6b-11eb-905f-15a7257c7a15.png)

![Screenshot from 2021-03-02 15-58-26](https://user-images.githubusercontent.com/76940604/109638725-2b6c3f00-7b70-11eb-8b21-e61b

[2021-03-02 15:32] viktorgama commented on #186
same issue here

[2021-03-02 15:33] pablomoroni commented on #186
same issue

[2021-03-02 17:16] unfernandito commented on #185
@fatmali @Bilal-Abdeen @metion Which version of this library are using?

[2021-03-02 17:17] fatmali commented on #185
3.0.0, the most recent one.

[2021-03-02 19:08] unfernandito commented on #185
Hello @fatmali Did you installed some old version time ago?

Could be a cache problem in our systems

[2021-03-02 19:24] Bilal-Abdeen commented on #185
@unfernandito
I have been using this library for a while with no problems. Yesterday, I rebuilt my app, and consequently got the latest version. I got the error messages above, which @metion mentioned.

[2021-03-02 19:28] unfernandito commented on #185
Can you try roll back to the last working version of this library in your app?

I think they made a major change in the lasts days and some documentation was not added.

[2021-03-02 19:29] unfernandito commented on #185
Yes, they added this piece of code:

https://github.com/react-native-text-input-mask/react-native-text-input-mask/commit/26698c74fad67e139c54126495cbe3c30ee8c214

[2021-03-03 09:32] danish-blueeast commented on #186
any update ??

[2021-03-03 14:24] unfernandito commented on #185
Hello.

Could try this missing step?

https://github.com/react-native-text-input-mask/react-native-text-input-mask/pull/188/commits/6f0352560fca3a1f2efaa4ce781b1ad77acd5289#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R36

If you receive any error from this step, see into the module package folder cause i think npm it's not fetching the ios & android native modules, if you

[2021-03-03 18:19] jacob3794 commented on #185
Receiving the error after adding that and running `pod install` after clearing yarn/metro cache for the latest version

[code]

I've not had any issues from using `^2.0.0`.

[2021-03-03 18:30] WeslleyNasRocha commented on #186
I've got some more output:
[code]

[2021-03-04 02:05] SrBrahma opened #189 "[3.0.0, Android] "Cannot read property 'mask' of null" [hermes issue maybe?]"
I didn't change the code, just installed new major version. Tried to remove and install it again, tried to `npx react-native-clean-project`, `npm run android` again, reopened app... Error still happening.

[code]
Versions:

"react-native": "^0.63.4",
"hermes-engine": "^0.5.2-rc1",
"react-native-text-input-mask": "^3.0.0",

I will for now keep using the package previous version.

[2021-03-04 02:06] SrBrahma commented on #183
Issue progress blocked by https://github.com/react-native-text-input-mask/react-native-text-input-mask/issues/189

[2021-03-04 02:41] brisingrBase commented on #186
same issue!

[2021-03-04 10:10] malmyros commented on #185
I have the same issue with everyone above. What is the recommended version prior to this issue?

[2021-03-04 15:39] unfernandito commented on #185
Try to use a previous version of this lib and add the next line in your Podfile below of `use_frameworks!`:

`pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'`

[2021-03-04 16:45] malmyros commented on #185
Thank you, I installed both version 2.0.0 and 2.0.1.

In the end I got it working but unfortunately there is quite a few issues with it for my use case and I had to remove it. I might look at again in the future.

[2021-03-04 16:51] unfernandito commented on #185
Sad to hear this 😢

[2021-03-05 06:01] nikoloz110 opened #190 "yarn not fetching iOS and android folders"
Installing library through `yarn add react-native-text-input-mask`. checking the node modules there is no iOS or android folders in it. needless to say, the lib fails to run.
![image](https://user-images.githubusercontent.com/17814568/110073924-ba0fd480-7d99-11eb-9849-b5301a9ef743.png)

[2021-03-05 08:54] artmerlop commented on #186
Same issue, any fix for this?

[2021-03-05 08:58] artmerlop commented on #190
Same issue mentioned in #186

[2021-03-07 10:30] Bohilc opened #191 "TypeError: null is not an object (evaluating 'RNTextInputMask.mask') in v3.0.0"
I have got this error after installing the package.
In package.json: `"react-native-text-input-mask": "^3.0.0",`
I thought it was fixed in the issue: https://github.com/react-native-text-input-mask/react-native-text-input-mask/issues/156 but the error still exists.

<img width="562" alt="obraz" src="https://user-images.githubusercontent.com/29238597/110236770-fda04500-7f37-11eb-9e2f-3c08a6665f47.p

[2021-03-07 12:19] mksglu commented on #191
same

[2021-03-07 12:39] mksglu commented on #191
same error with me
![image](https://user-images.githubusercontent.com/6067714/110240083-41587600-7f5b-11eb-9c89-c173a167acb0.png)

[2021-03-07 20:41] GustavoEklund commented on #186
same issue

[2021-03-08 11:50] DwCleb commented on #186
have no one a workaround? I'm with same issue and cant install

[2021-03-09 01:57] yawnr opened #192 "onFocus and onBlur events not firing when component given a mask prop"
Upgrading to `v3.0.0` and running into some issues. Lots of stuff is working great, but passing a `mask` prop causes the `onFocus` and `onBlur` callbacks to not be invoked.

Examples:
[code]

Also, unrelated, it probably doesn't make sense to have an `npx tsc` `postinstall` script

[2021-03-09 02:00] yawnr commented on #186
I ended up forking it and removing the `postinstall` and changing main to `"main": "index.tsx",`

That should at least fix the install process

[2021-03-09 07:59] olya-ivanochko commented on #191
NO android, ios folder after `yarn add react-native-text-input-mask`
Only happens in v3.0.0. Please fix this asap

[2021-03-09 14:30] rpc1910 commented on #186
same problem

[2021-03-10 08:18] Azshar opened #193 "Auto delete 7 after 7"
Hi!
I have a mask on input, like that mask={'+7 | ([000])[000]-[00]-[00]'}. If i want to enter the number 7, it's automatically deleted.

[2021-03-11 08:49] abramovslava opened #194 "Cursor is jumping when delete symbols from the middle of value"
**Problem:**
When use `value` property, that goes from state variable, and delete characters from the middle of value, cursor is jumping to last character.

Please, take a look at the attached gif:
![20210311_101727](https://user-images.githubusercontent.com/20501714/110759952-3e150100-825f-11eb-9106-3283cf0d4bf5.gif)

OS: `Android`
Version: `2.0.1`

**How to reproduce:**
Example of code:

[code]

[2021-03-13 07:11] Jeontaeyun commented on #186
Same Problem :(

[2021-03-13 07:13] Jeontaeyun commented on #186
We need to use version 2.0.1 at moment
[code]

[2021-03-13 23:31] HADEERALy commented on #191
if you use react native cli then
1.npm uninstall react-native-text-input-mask
 2. use 0.3.2 version – npm install --save react-native-text-input-mask@0.3.2
 or  yarn add react-native-text-input-mask@0.3.2
 3.npx react-native run-android
it worked fine with me in android

this package won't work for expo I tested it so many times
so I used another package =>  npm i react-native-masked-text

[2021-03-17 04:12] Worik42 commented on #156
same issue Android!

[2021-03-17 19:15] martintreurnicht commented on #194
This is probably due to autocomplete behavior, try switching it off and see if solves your problem:

[code]

[2021-03-17 19:19] martintreurnicht commented on #193
Masking behavior is not controlled by this library, we're simply adding a wrapper for ReactNative. For questions on native masking behavior, reach i'd recommend reaching out to the native maintainers at https://github.com/RedMadRobot

[2021-03-17 19:19] #193 closed

[2021-03-17 19:25] martintreurnicht commented on #192
This could be related to rewiring of listeners in the native code, is this happening on iOS, android or both?

[2021-03-17 19:25] martintreurnicht commented on #192
Also, recent release has fixed up packaging, check out https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.1

[2021-03-17 19:31] martintreurnicht commented on #189
Should be fixed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.1

[2021-03-17 19:31] #189 closed

[2021-03-17 19:32] martintreurnicht commented on #185
Fixed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.1

[2021-03-17 19:32] #185 closed

[2021-03-17 19:32] martintreurnicht commented on #186
Fixed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.1

[2021-03-17 19:32] #186 closed

[2021-03-17 19:33] martintreurnicht commented on #183
Yeah sorry about that, should be fixed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.1

[2021-03-18 13:34] Breners opened #196 "Pod install error"
The 'Pods-psibankapp' target has transitive dependencies that include statically linked binaries: (/Users/brenerdev/Documents/GitHub/TFS_Psibank_App/psibankapp/ios/Pods/CocoaLibEvent/lib/libevent.a, /Users/brenerdev/Documents/GitHub/TFS_Psibank_App/psibankapp/ios/Pods/CocoaLibEvent/lib/libevent_core.a, /Users/brenerdev/Documents/GitHub/TFS_Psibank_App/psibankapp/ios/Pods/CocoaLibEvent/lib/libevent

[2021-03-18 13:51] star-collector commented on #196
Try adding this in Podfile for your target:

`pre_install do |installer|`
`Pod::Installer::Xcode::TargetValidator.send(:define_method, :verify_no_static_framework_transitive_dependencies) {}`
`end`

[2021-03-18 14:32] alexandreaugus commented on #196
I am also having trouble with RN 0.63.4
<img width="394" alt="Screen Shot 2021-03-18 at 11 30 37" src="https://user-images.githubusercontent.com/58692612/111643275-99a23a00-87dd-11eb-9fa5-e6dc64a5ec8d.png">

[2021-03-18 14:33] Hapsidra commented on #192
I only tested on android and it happens here

[2021-03-18 15:13] Breners opened #197 "Erro build xcode"
fatal error: module map file '/Users/brenerdev/Library/Developer/Xcode/DerivedData/psibankapp-cwuwymaitextrogrpeyrbnllhegk/Build/Intermediates.noindex/ArchiveIntermediates/psibankapp/BuildProductsPath/Release-iphoneos/RNInputMask/RNInputMask.modulemap' not found

when i will archive on xcode, it give me this error, its ok on app

[2021-03-18 17:44] yawnr commented on #192
I was on iOS, so it appears it's on both platforms

[2021-03-18 17:51] martintreurnicht commented on #197
Should be fixed now try this build: https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.3

[2021-03-18 17:51] #197 closed

[2021-03-18 17:52] martintreurnicht commented on #196
This is probably because of Pods that was included incorrectly before, try this release https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.3

[2021-03-18 17:52] #196 closed

[2021-03-19 03:25] parkcoop commented on #191
This is still an issue in 3.0.3

[2021-03-20 14:47] parkcoop commented on #191
OKAY IT WORKS NOW (without use_frameworks!)
- installed latest 3.0.3
- add this line to pod file
`  pod 'React-RCTText', :path => '../node_modules/react-native/Libraries/Text', :modular_headers => true`
- pod install

Finally built successfully on iOS

[2021-03-20 15:22] parkcoop opened #198 "Out of the box support for custom notations"
Looking through readme, I do not see any reference to custom notations as discussed in the Red Mad Robot wikis, is there a proper way to do this through the react-native-text-input mask API? I see previous people have asked similar questions but only to have the issues closed with no response.

Would like to know if this is supported without modifying swift/java code

[2021-03-20 18:55] parkcoop commented on #198
will PR

[2021-03-24 11:41] csppopa opened #200 "pod install error on ios"
when doing pod install i get the following error:
[!] The target has transitive dependencies that include statically linked binaries:

1. from what i read on the internet it is because of 'use_frameworks!'

if i remove 'use_frameworks!' i get the following error:

2. [!] The following Swift pods cannot yet be integrated as static libraries:

The Swift pod `react-native-text-input-mask` depends upo

[2021-03-24 12:47] csppopa commented on #200
UPDATE:

the second error can be solved exactly like here while the problem is fixed:

https://github.com/react-native-text-input-mask/react-native-text-input-mask/issues/191#issuecomment-803368920

[2021-03-24 12:47] csppopa commented on #191
parkcoop workaround/fix works

[2021-03-24 12:56] KornobisD commented on #192
any updates on that problem? We are facing the same issue on both platforms

[2021-03-24 17:28] juanjavc06 commented on #152
We are talking about Apple. The must expensive but cheaper platform.

[2021-03-25 13:42] gron01 commented on #194
I've done these, but the problem still persists.

[2021-03-25 15:18] abramovslava commented on #194
Sorry for late answer...

@martintreurnicht i can confirm that even with `autocomplete` and `autoskip` properties issue still persists. I`ve updated repo with these properties.

[2021-03-25 16:14] martintreurnicht commented on #191
You don't need to add the podspec manually, autolinking should just do this for you, but if you did it manually you're using the wrong path, the spec is in the root directory

[2021-03-25 16:14] martintreurnicht commented on #191
This has been resolved in latest version

[2021-03-25 16:16] martintreurnicht commented on #191
Not sure why you need modular headers here, just adding `use_frameworks!` should be good enough. I don't think you can build this without `use_frameworks!` as this project is written in swift and frameworks are required

[2021-03-25 16:18] martintreurnicht commented on #198
I've been looking into exposing more of the underlying properties of the input mask listener, if you want to send a PR i'd be happy to review.

[2021-03-25 22:36] martintreurnicht commented on #192
@yawnr This should now be resolved in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.0.4 for both android and iOS

[2021-03-25 22:36] #192 closed

[2021-03-25 22:37] martintreurnicht commented on #183
@SrBrahma I'm closing this issue for now, if it is still happening, please feel free to re-open this issue

[2021-03-25 22:37] #183 closed

[2021-03-25 22:42] martintreurnicht commented on #200
As per the documentation, `use_frameworks!` is the recommended way to use it, If you're having an issue with `use_frameworks!` as part of your project, that is outside the scope of this project.

[2021-03-25 22:42] #200 closed

[2021-03-26 18:01] secodigo opened #202 "don't set the value in field"
I did tests and in latest version of react-native is not setting the value in the field

    "react": "17.0.1",
    "react-native": "0.64.0",
    "react-native-text-input-mask": "^3.0.4"

follow example:

[code]

[2021-03-26 22:50] martintreurnicht commented on #176
Now supported, check out https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.1.1

[2021-03-26 22:50] #176 closed

[2021-03-26 22:52] martintreurnicht commented on #191
Closing this issue as it seems that the original issue was related to ios/android folders not included in npm package. That issue has been fixed several versions back.

[2021-03-26 22:52] #191 closed

[2021-03-26 22:52] martintreurnicht commented on #198
Now supported, check out https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.1.1

[2021-03-26 22:52] #198 closed

[2021-03-26 23:15] martintreurnicht commented on #202
Fixed in https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.1.2

[2021-03-26 23:15] #202 closed

[2021-03-26 23:42] martintreurnicht commented on #194
@abramovslava Ok i see, you're using version 2. That version is no longer supported, it was created by the previous maintainer, please upgrade to the latest version. I can confirm that it no longer happens on the latest

[2021-03-26 23:42] #194 closed

[2021-03-27 18:27] epoxa opened #204 "Xcode build error (Cannot declare conformance to 'NSObjectProtocol')"
I got the following errors when build the RN project:
- node_modules/react-native-text-input-mask/ios/TextInputMask.swift:68:7: Cannot declare conformance to 'NSObjectProtocol' in Swift; 'MaskedRCTBackedTextFieldDelegateAdapter' should inherit 'NSObject' instead
- node_modules/react-native-text-input-mask/ios/TextInputMask.swift:68:49: Cannot find type 'RCTBackedTextFieldDelegateAdapter' in scope

[2021-03-28 04:20] fabcall opened #205 "TextInput not reacting to value changes"
As the title says, when the input value changes, the entry does not reflect the change until it is focused. A clear button, for example, which resets the input value to empty, when pressed, will update the value correctly, but will not be reflected visually (the text will remain rendered in input).

Similarly, when using react-hook-forms, providing a defaultValue for the input won't have any effec

[2021-03-28 12:08] netmaxt3r commented on #204
If you have
[code]
in your podfile try adding
[code]
at the top of node_modules/react-native-text-input-mask/ios/TextInputMask.swift
if you are using patch-package use the below patch
[code]

[2021-03-28 17:05] epoxa commented on #204
Thanks @netmaxt3r it compiles now without errors.
But I wonder why the import line is not present in original source code?

[2021-03-29 10:52] netmaxt3r commented on #204
my guess is we both are compiling pods as  static lib without
[code]

[2021-03-29 18:58] EQuimper opened #206 "RightToLeft doesn't work"
Hello thanks for this library. I did see one of the last release rightToLeft props was add. If I set it to true this doesn't work for me. Look like it's always leftToRight. Not sure if you do have the same issue.

[2021-03-31 00:11] martintreurnicht commented on #205
@fabcall I think this is an issue that i just published a fix for, this was only happening on android, can you test the latest version and confirm?

[2021-03-31 00:14] martintreurnicht commented on #204
Yes this is correct, `use_frameworks!` is required as per the installation instructions. I've seen others suggest using modular headers on other issues, I'm happy to support this as an option if you want to submit a PR, as long as it doesn't cause any problems with `use_frameworks!`

[2021-03-31 00:18] martintreurnicht commented on #206
@EQuimper Yes this was exposed recently as it was requested by several others although it hasn't been tested. I haven't looked into how this property is used on the native side exactly, I'll have a look at it later this week to try and figure out why it's not working

[2021-03-31 08:54] Nikolay-Vovk-dataart commented on #204
Hi. Is it possible to use the lib without `use_frameworks!`?  If  I use it it crashes pod installation because of other static deps

[2021-03-31 10:50] EQuimper commented on #206
Sounds good @martintreurnicht thank you :)

[2021-03-31 17:06] netmaxt3r commented on #204
@martintreurnicht  please review PR #207

[2021-03-31 18:07] martintreurnicht commented on #204
@netmaxt3r Thanks for the PR, merged and published as [3.1.4](https://github.com/react-native-text-input-mask/react-native-text-input-mask/releases/tag/v3.1.4)

[2021-03-31 18:07] #204 closed

[2021-04-01 15:22] nikoloz110 opened #208 "iOS build fails"
Getting error while building the app - Command PhaseScriptExecution failed with a nonzero exit code

    "react-native-text-input-mask": "^3.1.4",
    "react-native": "~0.63.3",

Tried cleaning pods and reinstalling

here is my profile

[code]

[2021-04-01 17:48] nikoloz110 commented on #208
![image](https://user-images.githubusercontent.com/17814568/113333802-f5b7a300-9333-11eb-899b-117e132a45a9.png)

[2021-04-03 16:37] Elabar opened #209 "iOS build fail: Undefined symbols for architecture x86_64"
Full error:
[code]

Full pod file:
[code]

Running on:
[code]

[2021-04-05 22:46] iagormoraes opened #210 "Error while adding mask prop"
Hello I'm receiving an error while trying to add `mask` prop, the following:

[code]

it's weird because the prop receive a string but treats as list.

[2021-04-05 23:04] iagormoraes opened #211 "error when trying to add a Text component as children to avoid bad width calculation"
Hello, I'm using an approach of adding a Text component to calculate and fill properly the area of content, a thing that TextInput is not capable of, but with the version `^3.1.4` of this package I can't use that workaround and it gives me the wrong behavior as seen below:

![Screen Shot 2021-04-05 at 20 02 32](https://user-images.githubusercontent.com/13892132/113637074-1e001400-964a-11eb-9a22-60

[2021-04-06 08:58] nikoloz110 commented on #208
Apparently running `yarn add --dev tslib` solved the issue, somehow the tslib of the package wasnt installed

[2021-04-06 10:36] nikoloz110 opened #212 "Crash on android while maxLength prop is reached"
If you have maxLength property set on <TextInputMask ... />, when reached maxLength input number, it will crash on Android

[2021-04-06 16:22] akimabs opened #213 "input mask disable number zero on first input"
Hello thanks for this library. im tried disable my first input where 0 and don't know how that's pattern

can u help me ?

[2021-04-10 00:08] artem98tema commented on #209
same error

[2021-04-12 10:02] abdullahbayram commented on #87
I was able to solve by inputRef.current._inputElement.focus()

[2021-04-14 01:27] guisszo opened #214 "[!] No podspec found for `RNInputMask` in `../node_modules/react-native-text-input-mask`"
In react native "0.63.3" when i upgrade "react-native-text-input-mask" from 2.0.0 to 3.1.4 i got this error:

``[!] No podspec found for `RNInputMask` in `../node_modules/react-native-text-input-mask``

i think this is due to the directory "InputMask" present in
`` ../node_modules/react-native-text-input-mask/ios/InputMask``
in version 2.0.0 which is not in the latest version
but when i downgrade

[2021-04-14 06:42] VashaMasha commented on #214
Hello! I've got the same problem, but I have to use version > 3.0.0. So, resolving the issue by downgrading the version is not valid)))
How can i manage this problem without version changing?

[2021-04-14 15:14] dustinyoste commented on #214
Remove `pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'`
from the Podfile

[2021-04-14 15:34] dustinyoste commented on #214
Remove both from `ios/Podfile`:
`pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'`
`pod 'react-native-text-input-mask', :path => '../node_modules/react-native-text-input-mask'`

If upgrading from `2.0.0` you may need to add a `.swift` file to your project.
https://github.com/react-native-text-input-mask/react-native-text-input-mask/compare/v2.0.0...v3.1.4

[2021-04-14 15:51] dustinyoste opened #215 "[!] Unable to determine Swift version for the following pods"
[code]

Running `npx pod-install` without a project containing a `.swift` file or an explicit swift version (`-ENV['SWIFT_VERSION'] = 5.0`) in the `Podfile` produces the error above.

I think if `-ENV['SWIFT_VERSION'] = 5.0` is specified in this packages `Podfile`, the issue should be resolved and can be updated accordingly as this package updates.

[2021-04-14 16:20] dustinyoste commented on #215
Might be something that needs to be addressed here actually: https://github.com/RedMadRobot/input-mask-ios

[2021-04-15 09:16] jeon9878 commented on #215
Same for me, React 0.63. Any updates? Don't want to explicitly update the SWIFT_VERSION with having large number of team members.

[2021-04-15 15:57] ravi-poonia commented on #209
refer to this [solution](https://github.com/facebookarchive/react-native-fbsdk/issues/755#issuecomment-653043458)

[2021-04-16 12:19] regalstreak opened #216 "ios build fails: Trailing closure passed to parameter of type 'Bool' that does not accept a closure"
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/7759208/115022989-cb411a80-9edb-11eb-93a1-dcf1cdb6cf9b.png">
[code]

[2021-04-16 12:37] regalstreak commented on #216
CC: @martintreurnicht

[2021-04-16 16:39] Azshar opened #217 "affineFormats"
<img width="482" alt="Снимок экрана 2021-04-16 в 19 36 27" src="https://user-images.githubusercontent.com/20275419/115056398-76a59b80-9eeb-11eb-8ea5-9d8555437ad4.png">

[2021-04-16 19:30] fuadmahmud commented on #217
I thought it was just me having the problem, have done doing cleanup npm, reinstall the module and manual linking, yet still have this issue.

[2021-04-17 21:56] Vente16 opened #218 "Autocomplete prop not work"
Currently I have a mask that allows entering numbers with commas, the problem is that when there is an invalid character the comma is autocomplete. I have something like this:
[code]
![problem-mask-library](https://user-images.githubusercontent.com/22964999/115127637-9f866900-9f9d-11eb-9f01-81497f604afa.gif)

I even use custom anNotations and it still doesn't work.

[2021-04-19 15:08] ugar0ff opened #219 "Show mask"
Good Day!
It would be great if you added the ability to not hide the mask when typing. And if we could set the color of the mask.
![Example](https://user-images.githubusercontent.com/14922730/115258888-0f315b00-a13a-11eb-8090-bcce3b09e596.png)
Are you planning to add this to the library?
Thanks!

[2021-04-19 15:15] Elabar commented on #209
This actually works!

Probably want to add this in the doc? @martintreurnicht

[2021-04-21 19:11] devWaleed commented on #209
@ravi-poonia I have created the bridging header for swift but I am still not able to build. Do I have to add this library/call it in someway in the bridging header? I am not really good with xCode and Swift so don't know what I am doing wrong here. Here is what I did.

1. I already have the latest pod and npm version of the package.
2. Create a new Swift file and created a bridging header for it
3

[2021-04-21 23:01] hulohot commented on #217
I'm also having this issue.

[2021-04-23 17:30] jgabriellima commented on #216
I'm facing the same issue. Any update?
In my case is happening on bitrise
![Captura de Tela 2021-04-23 às 14 31 25](https://user-images.githubusercontent.com/148344/115908340-6e47e600-a440-11eb-84d9-df6583d24906.png)

[2021-04-23 20:36] camhammel commented on #215
Also experiencing this issue, would love to have this resolved

[2021-04-24 19:41] beqramo opened #220 "on 0.64.0 package doesn't work"
Hi, I tried to install this package on the latest react-native version with the solutions you have in the readme but none of them worked.

[2021-04-25 11:36] RahidAkhundzada opened #221 "Can react-native-text-input-mask works on RN Windows ?"

[2021-04-27 01:09] brunoribeiro-lab commented on #58
up

[2021-04-29 15:33] jeremyfall80 commented on #217
I posted a question on Stackoverflow.
https://stackoverflow.com/questions/67320406/how-can-i-fix-react-native-android-affineformats-error

[2021-04-30 02:29] castor55 commented on #217
I posted a question on Stackoverflow.
https://stackoverflow.com/questions/67320406/how-can-i-fix-react-native-android-affineformats-error

[2021-04-30 02:29] castor55 commented on #217
@martintreurnicht Could you check this issue soon?

[2021-04-30 08:40] limdev92 commented on #217
The error disappear using the version v3.0.4

[2021-04-30 09:54] castor55 commented on #217
So if once you installed v3.1.4, please remove it first and add `react-native-text-input-mask": "3.0.4` in package.json file.
You need to run `yarn` after that.

[2021-05-03 07:55] castor55 commented on #217
@Azshar You can close this issue.

[2021-05-03 08:18] limdev92 commented on #217
wait, this is not solved, the downgrade of the version is not a solution

[2021-05-03 08:24] castor55 commented on #217
Agree. Btw, I see another issue. It does not compile properly in iOS.

[2021-05-03 08:32] castor55 commented on #217
v3.0.4 does not work on iOS 12.4 with the following package versions.
"react": "16.13.1",
"react-native": "0.63.3",
"react-native-text-input-mask": "3.0.4"

[code]

[2021-05-03 09:05] castor55 commented on #217
So this issue should be fixed on v3.1.4.

[2021-05-03 12:01] castor55 commented on #217
I figure out this issue by fix the pod file. We need to disable Flipper.
[code]

[2021-05-04 10:37] luisfcerutti commented on #217
A workaround is setting in the input mask the properties it misses, example:

<TextInputMask
                    onChangeText={onChangeText}
                    value={value}
                    affineFormats={[]}
                    customNotations={[]}
                    affinityCalculationStrategy={'WHOLE_STRING'}
                    mask={"[000].[000].[000]"}
 />

it worked for me

[2021-05-06 04:01] akimabs commented on #115
any update for this ?

[2021-05-06 04:20] akimabs commented on #115
my case is done, just use YourProject.xcworkspace and violaa

[2021-05-07 02:07] castor55 commented on #217
v3.0.4 has pod issues in iOS.

[2021-05-07 02:08] castor55 commented on #217
@luisfcerutti Were you able to run the Android app without seeing `affineFormats` issue? Are you using v3.1.4?

[2021-05-07 02:38] castor55 opened #222 "Can we add '?' mask?"
0 - Only digit
A - Only character
? - Both digit and character

[2021-05-07 20:18] secodigo opened #223 "Bare workflow expo"
I am getting the following NativeModule error: RNTextInputMask is null. However I'm using the bare workflow of the expo, it should work, can you tell me what may be missing?

[2021-05-08 07:36] kopax-polyconseil opened #225 "affineFormat getNullableValue error"
Hello,

I was looking for an input mask for postal code and phone number for react native and found this project.

After testing the example on an Android device with `3.1.4`, I have an `affineFormats` error when rendering the input.

Since I am testing on Android, I don't think the pod configuration is required, but I did it.

Any clue why I can't use that module ?

[2021-05-08 07:38] kopax-polyconseil commented on #220
Same here

[2021-05-08 07:49] kopax-polyconseil commented on #217
Thanks @luisfcerutti I was about to uninstall that module.

[2021-05-08 10:45] kopax-polyconseil opened #226 "react-native-web support"
Will this project at some point support react-native-web?

Currently we rely on react-input-mask, the API is different.

[2021-05-13 07:19] redVi commented on #225
I has this same issue on Android. Version 2.0.0 works for me.

[2021-05-13 20:16] nicoache1 opened #229 "iOS Archive Build Issue"
## iOS Build Issue

#### Description

When i tried to make a new archive in the xcode the build fails with the next errors

![Screen Shot 2021-05-13 at 17 14 23](https://user-images.githubusercontent.com/26419582/118181884-ae323580-b40e-11eb-9468-1865796d8d82.png)

#### Environment

[code]

[code]

#### Expected Behaviour

Archive should be successful

[2021-05-13 22:34] davidkhuu commented on #229
This comment seemed to work for me: https://github.com/facebook/react-native/issues/28503#issuecomment-624785816

I was getting the same error. My Podfile platform is `11.0` like yours but my target deployment was 10.0. Changing it to 11.0 to match my Podfile allowed my archive to complete successfully.

[2021-05-14 16:09] NathHorrigan opened #230 "unmask method not resolving on iOS"
Hey, Thanks for maintaining this library.

I've got an issue on iOS where the `onChangeText` prop isn't returning anything. I've been able to debug this and it looks like the `unmask` method in the swift code isn't able to resolve?

[2021-05-14 16:13] NathHorrigan commented on #230
Some further debugging and it looks like when you call `mask(...)` it doesn't return a promise?

 LOG  [Function promiseMethodWrapper]

 LOG  {}

[2021-05-15 06:09] fatihyildizhan opened #231 "Android CatalystInstanceImpl.getNameFromAnnotation"
App crashes when I type phone number.

[code]

`mask="[000]-[000]-[00]-[00]"

keyboardType="phone-pad"
`

[code]

[2021-05-15 06:27] fatihyildizhan opened #232 "Android ReactTextInputShadowNode.java and ReactEditText.java"
App crashes when I type phone number.

[code]

`mask="[000]-[000]-[00]-[00]"

keyboardType="phone-pad"
`

`com.facebook.react.views.textinput.ReactTextInputShadowNode.createInternalEditText:`

[code]

`com.facebook.react.views.textinput.ReactEditText.<init>`

[code]

[2021-05-16 03:26] kendallroth commented on #225
Having this same issue, although downgrading to verwion 2.0.0 gives a different error: `RNTextInputMask.setMask` got 2 arguments, expected 3

[2021-05-16 04:29] kendallroth commented on #225
This can be solved by adding the required/missing props to the component (not my fix):

https://github.com/react-native-text-input-mask/react-native-text-input-mask/issues/217#issuecomment-831844833

[code]

However, this is still a workaround and points to an issue that should be resolved.

[2021-05-17 15:56] nicoache1 commented on #229
Thanks a lo @davidkhuu that works like a charm!

[2021-05-17 15:56] #229 closed

[2021-05-18 01:04] itzfeltrin commented on #223
I'm facing the same issue

[2021-05-24 11:24] NathHorrigan commented on #230
@martintreurnicht - Are you able to help on the above?

[2021-05-24 12:20] i-yusuf commented on #220
open XCode
create new file, select swift file
confirm "Create Bridging Header"
clean and build (I actually made my first build from XCode and then from react-native CLI)

[2021-05-24 12:22] beqramo commented on #220
@i-yusuf  I will try thanks, but as I remember I did that step.

[2021-05-24 12:43] i-yusuf commented on #220
If you did that already try this:

- Go to ios folder and run
`pod deintegrate`

- Add this to podfile
`React-RCTText', :path => '../node_modules/react-native/Libraries/Text', :modular_headers => true`

- Go to ios folder and run
`pod install`

- Open XCode
- Create New File -> Swift
- Confirm 'Create Bridging Header'
- Product -> Clean Build Folder

- `npx react-native run-ios`

[2021-05-24 19:48] beqramo commented on #220
thanks, I will try as soon as I will have time. and I will write the result  here

[2021-05-29 09:58] Jalson1982 opened #233 "Android app crash with custom notations"
Hello,

Android crashes with error: Could not invoke RNTextnputMask.Mask null null

Here is how I use it:

[code]
On IOS it works fine android no way to get it to work.

[2021-05-29 15:49] Jalson1982 commented on #218
It will not work like you are trying. `mask="[9999], [9999]"` will always insert a comma. You can not prevent it. Mask in your case should be `mask="[9999][,][9999]"` but it will crash the app as there is some bug with the package.

[2021-05-30 07:59] Jalson1982 commented on #233
@martintreurnicht custom notations crash both ios and android.

[2021-05-31 10:34] ankiii16 opened #234 "React native input mask testing with jest"
Even after mocking the react-native-text-input-mask. I am getting following error. Please help make out here I am not performing any operations from test suite just rendering the screen.
<img width="1792" alt="Screen Shot 2021-05-31 at 8 24 52 pm" src="https://user-images.githubusercontent.com/40176565/120180675-66edd680-c24f-11eb-871e-32ee30c2b230.png">
<img width="1792" alt="Screen Shot 2021-05-

[2021-05-31 19:32] LuizCristino commented on #223
Did you ran `react-native run-android` after installing this package?

This is what will tell Android that there is a new native module to install

[2021-05-31 21:27] Jalson1982 commented on #233
@martintreurnicht so I found the issue and fixed it and if you want I can make PR. Problem is that mask and unmask also need access to customNotations as there we set Mask with the format. So you do not pass it and because there are no custom notations available it "thinks" format is invalid and the app crashes.

[2021-06-02 08:01] ugar0ff opened #237 "Bug with changing mask"
I have imput with mask (f.e. [00]-[000])
Steps:
1) Filled few symbols (f.e. 11-)
2) Changed mask to [00]-[0000] (longer)
3) Filled input (f.e. 11-1111)
4) Removed foces from field
5) Tapped to field
Result: Data in input was changed to 11-111 (removed last symbol)

[2021-06-02 15:58] martintreurnicht commented on #233
hi @Jalson1982, sorry for the late response. Yeah customNotations were never really tested, a couple of people requested it and i added in, but noted that it might have bugs. Feel free to send a PR, i have limited time to spend on this repo at the moment and will get to it eventually but the fact that there is no tests fo this repo makes it hard to validate changes at the moment. I am looking to a

[2021-06-02 16:04] martintreurnicht commented on #234
Not sure what the issue is here, could be related to how you're using it. I'd try just using it directly without the wrapping TextInput component

[2021-06-02 16:07] martintreurnicht commented on #237
Changing mask has limitations, you should use `affineFormats` instead. See https://github.com/RedMadRobot/input-mask-ios/blob/master/Documentation/COOKBOOK.md#dates for examples

[2021-06-02 16:07] #237 closed

[2021-06-02 16:10] Jalson1982 commented on #233
@martintreurnicht yeah no worries. There is PR not sure is it best solution so please take a look.

[2021-06-02 16:14] martintreurnicht commented on #217
it's unclear to me what the issue is here. `affineFormats` do work, I use that in my own project. So just an issue with cocoapods? You can use it without frameworks by the way, see installation instruction as static library. @Azshar can this issue be closed now?

[2021-06-07 08:27] oemremolla commented on #234
Hi , I had the same issue. I solved the problem by following the steps in this issue. #17 . You can mock Input like that.

`class TextInputMask extends React.Component {
  render() {
    return <Input />;
  }
}`

[2021-06-08 09:14] marla-singer commented on #232
@fatihyildizhan check out that

**Issue**: https://github.com/facebook/react-native/issues/17530
**PR**: https://github.com/facebook/react-native/pull/29452

**Solution:**
1) create a new file edit_text.xml: https://github.com/facebook/react-native/pull/29452/files#diff-8b03a3f8d7a1a124748ad859c0d965f2be9a61672a637092ca05d9348122e0df

2) update the file styles.xml: https://github.com/facebook/reac

[2021-06-08 12:11] emilmammadov opened #238 "Bug with Gboard"
TextInput repeats input text when using Gboard.

Use Case:
    Input: "5" ===> Output: "55"
    Input: "542" ===> Output: "55422"
    mask: "([000]) [000] [00] [00]"
    Keyboard: Gboard

[2021-06-09 13:01] kopax-polyconseil opened #239 "[Jest27] mock configuration doesn't play well with styled components"
Hello, using  react-native-text-input-mask `^3.1.4` and jest 27, I am unable to test my styled components using the mock provided in the README.

This is the error I have :

[code]

I have tried to modify the mock to:

[code]

Error remain, any clue on how to fix this?

[2021-06-09 13:03] kopax-polyconseil commented on #239
Solved with:

[code]

Doc should be updated.

[2021-06-09 13:10] beqramo commented on #220
it worked thanks, I will close it mow.

[2021-06-09 13:10] #220 closed

[2021-06-09 13:10] beqramo commented on #220
it worked thanks, I will close it now.

[2021-06-09 13:26] beqramo opened #241 "On IOS cursor is jumping on change"
Hi, when I'm using mask property it is doing like this but when I disable mask property everything looks nice.
Also there is a crash on `[0...]` mask pattern.

Also, I'm using it with `react-hook-form` but I don't think that this is the source of this problem

https://user-images.githubusercontent.com/40486471/121362782-6b994580-c947-11eb-931f-51abdf996d57.mov

[2021-06-11 14:35] guisszo commented on #214
yes @dustinyoste  i removed ``pod 'RNInputMask', :path => '../node_modules/react-native-text-input-mask/ios/InputMask'``  and added that: ``  pod 'React-RCTText', :path => '../node_modules/react-native/Libraries/Text', :modular_headers => true
`` to my pod file and it is working fine now !! thank you very much

[2021-06-11 14:36] #214 closed

[2021-06-16 12:44] abybaby123 commented on #115
If you are using RN 0.63.x, then try changing your iOS project deployment target from 10->11, and it should work fine.

[2021-06-17 15:12] NathHorrigan commented on #206
Hi, @martintreurnicht  - Did you get around to investigating this?

[2021-06-22 17:03] JayantJoseph commented on #237
I am facing with the same issue

[2021-06-22 22:11] marianocordoba commented on #241
I have this problem too. I've tried using `autocomplete: false` and `autoskip: false` as said in #194 but still happening.

[2021-06-23 21:02] jpcastro4 commented on #156
Same issue Android

[2021-06-25 11:45] Rodrigo816 commented on #194
This still happens on v3.1.4

[2021-06-29 20:57] isnifer opened #243 "[Android] Cursor jumps since 3.1.3 (video diff inside)"
**Everything works fine on 3.1.2:**

https://user-images.githubusercontent.com/1788245/123866300-8acb3780-d935-11eb-8cf9-45769715b36d.mov

**Broken since 3.1.3 (on 3.1.4 currently)**

https://user-images.githubusercontent.com/1788245/123866329-96b6f980-d935-11eb-85e4-638c94321b5c.mov

[2021-06-29 20:57] isnifer commented on #243
@martintreurnicht please, take a look

[2021-07-04 13:33] LiamAshdown commented on #156
Same issue Android

[2021-07-06 11:34] samuelfekete opened #244 "BUG: Can't change the value to empty using state"
When the value is changed to an empty string by a state change, the input field will ignore the change and keep the old value.

Example code to reproduce the issue:
[code]

This might be because of a race condition with https://github.com/react-native-text-input-mask/react-native-text-input-mask/blob/master/index.tsx#L54 being async and resetting the old value.

With @phutchin.

[2021-07-07 07:06] ZeeshanAhmadKhalil commented on #191
where in podfile?

[2021-07-07 07:41] 7dp commented on #194
still jumping on v3.1.4

[2021-07-12 06:28] ganesh-papola opened #245 "Value of type 'RCTBaseTextInputView' has no member 'nativeEventCount'"
On react native build -
```Value of type 'RCTBaseTextInputView' has no member 'nativeEventCount' ```

![Screen Shot 2021-07-12 at 2 28 11 AM](https://user-images.githubusercontent.com/19851598/125240952-6fcecf00-e308-11eb-8b64-aa178b43f387.png)

[2021-07-22 11:20] IlMatveev commented on #230
@NathHorrigan – I had the same problem.
I used a storybook in my project. And the solution to this problem was to disable it.

[2021-07-26 20:01] fernandatoledo commented on #86
Hey! I'm still facing this issue, is there a fix for this?

[2021-07-27 03:14] williamjamir opened #248 "Keep placeholder mask while user type"
Hi

I'm using the CPF mask with a placeholder
[code]
But as soon as the user types the first digit, all characters from the placeholder are removed.
Is it possible to keep these characters while the user types the values?
Something like this:

[code]

[2021-07-27 11:53] evanoralph commented on #248
bump on this we want this function too

[2021-07-29 09:20] stelmakhivan commented on #239
Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

[2021-07-29 13:22] RomanGalynov-InVeritaSoft commented on #209
https://developer.apple.com/forums/thread/655438

[2021-07-29 14:20] Elabar commented on #209
Closing this issue in as I had a workaround [here](https://github.com/facebookarchive/react-native-fbsdk/issues/755#issuecomment-653043458)

[2021-07-29 14:20] #209 closed

[2021-07-30 08:06] ig4ever commented on #245
i tried remove it, and it works.

[2021-08-02 19:26] andreszuluaga-wolox opened #249 "Task :react-native-text-input-mask:compileDebugKotlin FAILED"
When I`m building, I get this error:

`> Task :react-native-text-input-mask:compileDebugKotlin FAILED
ReactNativeFirebase WARNING: NPM package '@react-native-firebase/dynamic-links' depends on '@react-native-firebase/app' v12.1.0 but found v11.5.0, this might cause build issues or runtime crashes.

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--w

[2021-08-02 19:43] #249 closed

[2021-08-06 12:49] ianbengoechea commented on #238
Try this:

- Add **keyboardType** property with "number-pad" value

[code]

[2021-08-08 07:03] EmmanuelPerezP commented on #248
ditto, this would be a great addition

[2021-08-08 19:59] SaulNunez opened #250 "React Native Input Mask setMask got 3 arguments, expected 2"
I'm having a bit of a time trying to wrap my head around this.

At first I checked if something is wrong with my mask, However, I've checked the RedMadRobot's documentation, and I've removed $ the money symbol, and tried with mask '[0...]{.}[00]'. With less than stellar luck (same error).

This is my code more or less, I'm using typescript, this is that minus type definitions:
[code]

I'm using Re